{% for key,segment in filiere %}
    {% if not loop.first and key != "aireDeTravaille" %}

    <ol class="dd-list" style="display: inline-block">
        <li class="dd-item" data-id="16">
            <div class="dd-handle">
                {{ segment.nomSegment }}
                <br>
                {% if page == 'suivit' %}
                    {% include 'SSFMBBundle:Segment/Include:StatIndexInclude.html.twig' %}
                {% endif %}
            </div>
            <ol class="dd-list" style="display: inline-block"
                id="{{  filiere.nomFiliere }}{{ segment.nomSegment  }}">
                {% include '@SSFMB/Flotteur/Include/listIndexInclude.html.twig' %}
            </ol>
        </li>

    </ol>
    {% endif %}
{% endfor %}

{#  <td valign="top">
        <ul>
            <li class="segment">
                {{ segment.getNomSegment }}
            </li>
            <li>{{ segment.getLongeur }} m</li>
            <li> nombre de place totale : {{ totaleplace }}
                place
            </li>
            <li>nombre de place vide
                :{{ (totaleplace -(totalecorde + totalelanterne)) }}
                place
                || {{ ((totaleplace -(totalecorde + totalelanterne))/totaleplace ) *100 }}
                %
            </li>
            <li> nombre de place
                remplis:{{ totaleplace - (totaleplace -(totalecorde + totalelanterne)) }}
                place
                || {{ ((((totaleplace -(totaleplace -(totalecorde + totalelanterne))))/totaleplace )*100 ) }}
                %
            </li>
            <li>nombre des corde:{{ totalecorde }}</li>
            <li>nombre des
                lanterne:{{ totalelanterne }}</li>
        </ul>


        {% include '@SSFMB/Flotteur/Render/listFlotteurIndexRender.html.twig' %}

    </td>
{% endfor %}
#}