{% extends "::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}
{% block menu %}
    <div id="menu" class="col-md-3">
        <h3>Le Menu</h3>
        <ul class="nav nav-pills nav-stacked">
            <li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </li>

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <li><a href="{{ path('sonata_admin_dashboard') }}">Zone Administrateur</a></li>
            <li><a href="#">preparer corde</a></li>
            <li><a href="#">preparer lanterne</a></li>
            <li><a href="#">MAE corde</a></li>
            <li><a href="#">MAE lanterne</a></li>
            <li><a href="#">Retrait corde</a></li>
            <li><a href="#">Retrait lanterne</a></li>
            <li><a href="{{ path('ssfmb_choixpage') }}">statistique</a></li>

        </ul>

        {#           <h4>Dernières annonces</h4>
                   {{ render(controller("SSFMBBundle:Default:menu", {'limit': 3})) }} #}
    </div>

{% endblock %}
{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}

    <hr>

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block ssfmb_body %}
    {% endblock %}

{% endblock %}