{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - FMB{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block header %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}
    {% set page = 'Statistique' %}
    <br><br><br><br><br><div class="row">
    correction de
        {{ cmp }} ligne
    effectuer
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Counter Up  -->
    <script src="{{ asset('bundles/ssfmb/plugins/waypoints/lib/jquery.waypoints.js') }}"></script>
    <script src="{{ asset('bundles/ssfmb/plugins/counterup/jquery.counterup.min.js') }}"></script>

    <!-- Widget js -->
    <script src="{{ asset('bundles/ssfmb/pages/jquery.widgets.js') }}"></script>

    <!-- Sparkline chart -->
    <script src="{{ asset('bundles/ssfmb/plugins/jquery-sparkline/jquery.sparkline.min.js') }}"></script>

{% endblock %}