{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ssfmb_body %}
    <h1>Filiere list du parc {{ parc.nomParc }} </h1>
    <table class="records_list" border="1" width="100%">
        <tbody>
        {% for filiere in parc.filieres %}
            <tr>
                <td>
                    {{ filiere.nomFiliere }}
                </td>
                {% for segment in filiere.getsegments %}
                    <td>
                        {{ segment.nomSegment }}
                    </td>
                    {% for flotteur in segment.getflotteurs %}
                        <td>
                            {{ flotteur.nomFlotteur }}
                        </td>
                        {% for emplacement in flotteur.getemplacements %}
                            <td>
                                {{ emplacement.place }}
                                <br/>
                                {% if emplacement.corde ==null %}
                                    n'est pas disponible
                                {% else %}
                                    Disponible
                                    avec quantiter {{ emplacement.corde.quantiter }}
                                {% endif %}
                                <br/>
                            </td>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}