{% extends "SSFMBBundle::layout.html.twig" %}
{% block title %}
    Suivit - {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>Suivit</p>
                <ul class="pagination pagination-lg">
                    {{ knp_menu_render('SSFMBBundle:Builder:parcHomeMenu') }}
                </ul>
                <table class="table table-condensed table-bordered" border="1">
                    <tbody>
                    {% if(entity != null) %}
                        <tr>
                            <td>
                                {{ entity.abrevMagasin }}
                            </td>
                            <td rowspan="2" width="20%">
                                <div data-spy="affix" id="menuform">
                                    <p>
                                        {% include "SSFMBBundle:Include:couleurCleInclude.html.twig" %}
                                    </p>
                                    <p>
                                    <div>Listez des filieres</div>
                                    {% for filiere in entity.filieres %}
                                        <span class="lienfiliereint">
                                        <a href="#{{ filiere.nomFiliere }}">{{ filiere.nomFiliere }}</a>
                                    </span>
                                    {% endfor %}
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-condensed table-bordered" border="1">
                                    <tbody>
                                    {% for filiere in entity.filieres %}
                                        <tr>
                                            <td id="{{ filiere.nomFiliere }}" class="filiere">
                                                {{ filiere.nomFiliere }}
                                                <br/>
                                                {% set tailleFiliere =0 %}
                                                {% set totaleplace =0 %}
                                                {% set totalelanterne =0 %}
                                                {% set totalecorde =0 %}
                                                {% for segment in filiere.segments %}
                                                    {% set tailleFiliere = tailleFiliere+segment.getLongeur %}
                                                    {% for flotteur in segment.flotteurs %}
                                                        {% for emplacement in flotteur.emplacements %}
                                                            {% if emplacement.stockscorde == null and emplacement.stockslanterne == null %}
                                                                {% set totaleplace = totaleplace + 1 %}
                                                            {% elseif emplacement.stockscorde != null %}
                                                                {% set totaleplace = totaleplace + 1 %}
                                                                {% set totalecorde = totalecorde + 1 %}
                                                            {% elseif emplacement.stockslanterne != null %}
                                                                {% set totaleplace = totaleplace + 1 %}
                                                                {% set totalelanterne =totalelanterne + 1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endfor %}
                                                taille {{ tailleFiliere }} m <br>
                                                nombre de place totale : {{ totaleplace }} place <br> nombre de
                                                place vide :{{ (totaleplace -(totalecorde + totalelanterne)) }}
                                                place
                                                || {{ ((totaleplace -(totalecorde + totalelanterne))/totaleplace ) *100 }}
                                                %
                                                <br>nombre de place remplis
                                                :{{ totaleplace - (totaleplace -(totalecorde + totalelanterne)) }}
                                                place
                                                || {{ ((((totaleplace -(totaleplace -(totalecorde + totalelanterne))))/totaleplace )*100 ) }}
                                                %
                                                <br>nombre des corde:{{ totalecorde }}
                                                <br>nombre des lanterne:{{ totalelanterne }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="table table-condensed table-bordered" border="1">
                                                    <tbody>
                                                    <tr>
                                                        {% for segment in filiere.segments %}
                                                            {% set totaleplace =0 %}
                                                            {% set totalelanterne =0 %}
                                                            {% set totalecorde =0 %}
                                                            {% for flotteur in segment.flotteurs %}
                                                                {% set tailleFiliere = tailleFiliere+segment.getLongeur %}
                                                                {% for emplacement in flotteur.emplacements %}
                                                                    {% if emplacement.stockscorde == null and emplacement.stockslanterne == null %}
                                                                        {% set totaleplace = totaleplace + 1 %}
                                                                    {% elseif emplacement.stockscorde != null %}
                                                                        {% set totaleplace = totaleplace + 1 %}
                                                                        {% set totalecorde = totalecorde + 1 %}
                                                                    {% elseif emplacement.stockslanterne != null %}
                                                                        {% set totaleplace = totaleplace + 1 %}
                                                                        {% set totalelanterne =totalelanterne + 1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                            <td valign="top">
                                                                <ul>
                                                                    <li class="segment">
                                                                        {{ segment.getNomSegment }}
                                                                    </li>
                                                                    <li>{{ segment.getLongeur }} m</li>
                                                                    <li> nombre de place totale : {{ totaleplace }}
                                                                        place
                                                                    </li>
                                                                    <li>nombre de place vide
                                                                        :{{ (totaleplace -(totalecorde + totalelanterne)) }}
                                                                        place
                                                                        || {{ ((totaleplace -(totalecorde + totalelanterne))/totaleplace ) *100 }}
                                                                        %
                                                                    </li>
                                                                    <li> nombre de place
                                                                        remplis:{{ totaleplace - (totaleplace -(totalecorde + totalelanterne)) }}
                                                                        place
                                                                        || {{ ((((totaleplace -(totaleplace -(totalecorde + totalelanterne))))/totaleplace )*100 ) }}
                                                                        %
                                                                    </li>
                                                                    <li>nombre des corde:{{ totalecorde }}</li>
                                                                    <li>nombre des
                                                                        lanterne:{{ totalelanterne }}</li>
                                                                </ul>
                                                                {% for flotteur in segment.flotteurs %}
                                                                    <p class="flotteur">
                                                                        {{ flotteur.getNomFlotteur }}
                                                                        {% for emplacement in flotteur.emplacements %}
                                                                            {% if emplacement.stockscorde == null and emplacement.stockslanterne == null %}
                                                                                <font color="red"> {{ emplacement.place }}</font>
                                                                            {% elseif emplacement.stockscorde != null %}
                                                                                {% include "SSFMBBundle:Include:suivitEtatCordeInclude.html.twig" %}
                                                                                {% if(emplacement.dateDeRemplissage != null) %}
                                                                                    <span class="dateemplacement"
                                                                                          style="display: none">{{ emplacement.dateDeRemplissage|date('Y-m-d') }}
                                                                                    </span>
                                                                                {% endif %}
                                                                            {% elseif emplacement.stockslanterne != null %}
                                                                                {% include "SSFMBBundle:Include:suivitEtatLanterneInclude.html.twig" %}
                                                                                <span style="display: none"
                                                                                      id="dateemplacement">{{ emplacement.dateDeRemplissage|date('Y-m-d') }}
                                                                                </span>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </p>
                                                                {% endfor %}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function () {
            function diffdate(d1, d2, u) {
                div = 1
                switch (u) {
                    case 's':
                        div = 1000;
                        break;
                    case 'm':
                        div = 1000 * 60
                        break;
                    case 'h':
                        div = 1000 * 60 * 60
                        break;
                    case 'd':
                        div = 1000 * 60 * 60 * 24
                        break;
                }
                var Diff = d2.getTime() - d1.getTime();
                return Math.ceil((Diff / div))
            }

            /*
             $('.dateemplacement').each(function (ele, val) {
             var datejour = $(this).text().split("-");
             var Date1 = new Date(datejour[0], datejour[1] - 1, datejour[2]);
             var Date2 = new Date();
             if ($(this).parent('.flotteur').has('dateemplacement'))
             if (0 < diffdate(Date1, Date2, 'd') < 10) {
             if ($(this).parent('.flotteur').has('dateemplacement'))
             var str = 'il reste ' + diffdate(Date1, Date2, 'd') + ' jours pour l article de la filiere ' + $(this).parent() + ' contenu dans le segment ' + $('.segment').text() + ' a partir du flotteur ' + $('.flotteur').text() + ' a lemplacement ' + $('.emplacement').text() + '<br>'
             $('#alertejaune').html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">× </button> <h4> Alert! </h4> <strong>Warning!</strong> ' + str + '<a href="#" class="alert-link">alert link</a>');
             //$('#alertejaune').show();
             }
             if (diffdate(Date1, Date2, 'd') <= 0) {
             var str2 = 'il reste ' + (diffdate(Date1, Date2, 'd') * -1) + ' jours pour l article de la filiere ' + $('#filiere').text() + ' contenu dans le segment ' + $('#segment').text() + ' a partir du flotteur ' + $('#flotteur').text() + ' a lemplacement ' + $('#emplacement').text()
             $('#alerterouge').html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">× </button> <h4> Alert! </h4> <strong>Warning!</strong> ' + str2 + '<a href="#" class="alert-link">alert link</a>');
             //$('#alerterouge').show();
             }
             });
             */
        });
    </script>
{% endblock %}
