{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - FMB{% endblock %}
{% block stylesheet %}
    {% if(entity != null) %}
        <link href="{{ asset('bundles/ssfmb/plugins/nestable/jquery.nestable.css') }}" rel="stylesheet"/>
        {{ parent() }}
    {% endif %}
{% endblock %}
{% block header %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}
    {% set page = 'Statistique' %}
    <div class="row">
        <br>
        <br>
        <table>
            <tr>
                <td>nombre totale des parc</td>
                <td>{{ entity|length }}</td>
            </tr>
            <tr>
                <td>nombre totale des filieres</td>
                <td>
                    {% set nbrfiliere = 0 %}
                    {% for parc in entity %}
                        {% set nbrfiliere = nbrfiliere + parc.filieres|length %}
                    {% endfor %}
                    {{ nbrfiliere }}
                </td>
            </tr>
            <tr>
                <td>nombre totale des lanternes</td>
                <td>
                    {% set nbrfiliere = 0 %}
                    {% for parc in entity %}
                        {% for lanterne in parc.lanternes %}
                            {% set nbrfiliere = nbrfiliere + lanterne.nbrTotaleEnStock %}
                            {% for lant in lanterne.stockslanternes if not lant.pret  %}
                                {% set nbrfiliere = nbrfiliere + 1 %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    {{ nbrfiliere }}
                </td>
            </tr>
            <tr>
                <td>nombre totale des cordes</td>
                <td>
                    {% set nbrcorde = 0 %}
                    {% for parc in entity %}
                        {% for corde in parc.cordes %}
                            {% set nbrcorde = nbrcorde + corde.nbrTotaleEnStock %}
                            {% for crd in corde.stockscordes if not crd.pret  %}
                                {% set nbrcorde = nbrcorde + 1 %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    {{ nbrcorde }}
                </td>
            </tr>
            <tr>
                <td>densiter totales d'articles dans l'eau</td>
                <td></td>
            </tr>
            <tr>
                <td>densité totale d'articles hors eau</td>
                <td></td>
            </tr>
            <tr>
                <td>nombre totales des poches</td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if(entity != null) %}
        <!--script for this page only-->
        <script src="{{ asset('bundles/ssfmb/plugins/nestable/jquery.nestable.js') }}"></script>
        <script src="{{ asset('bundles/ssfmb/pages/nestable.js') }}"></script>
    {% endif %}
{% endblock %}