{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - FMB{% endblock %}
{% block stylesheet %}
    {% if(entity != null) %}
        {#   <link href="{{ asset('bundles/ssfmb/plugins/nestable/jquery.nestable.css') }}" rel="stylesheet"/>#}
        {{ parent() }}
    {% endif %}
{% endblock %}
{% block header %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}
    {% set page = 'Statistique' %}
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md md-store-mall-directory text-info"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">{{ nbrParc}}</span></h2>
                <div class="text-muted m-t-5">Total Parc </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ion-android-mixer text-primary"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">{{ nbrfiliere }}</span></h2>
                <div class="text-muted m-t-5">Total Filière</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrcorde }}
                    </span></h2>
                <div class="text-muted m-t-5">Totale<br> Corde</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrcordeae }}
                    </span></h2>
                <div class="text-muted m-t-5"> totale Corde <br>a eau</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrordehuitreae }}
                    </span></h2>
                <div class="text-muted m-t-5"> Corde Huitre <br> a eau</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbcordemouleae }}
                    </span></h2>
                <div class="text-muted m-t-5"> Corde Moule <br>a eau</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrcordev }}
                    </span></h2>
                <div class="text-muted m-t-5">Corde<br> vide</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrcordep }}
                    </span></h2>
                <div class="text-muted m-t-5">Corde <br>Preparé</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbCordeHuitreP }}
                    </span></h2>
                <div class="text-muted m-t-5">Corde Huitre <br>Preparé</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbCordeMouleP }}
                    </span></h2>
                <div class="text-muted m-t-5">Corde Moule <br> Preparé</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrCordeAs }}
                    </span></h2>
                <div class="text-muted m-t-5">Corde Assemblé <br> Preparé</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrCordeAsAe }}
                    </span></h2>
                <div class="text-muted m-t-5">Corde Assemblé <br> en eau</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md ti-align-justify text-pink"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrCordeChausser }}
                    </span></h2>
                <div class="text-muted m-t-5">Corde Chaussée<br>en eau</div>
            </div>
        </div>

    </div>





    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-th-menu-outline text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">

                        {{ nbrlanterne }}</span></h2>
                <div class="text-muted m-t-5">Totale Lanterne</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-th-menu-outline text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">

                        {{ nbrlanterneae }}</span></h2>
                <div class="text-muted m-t-5">Lanterne en eau</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-th-menu-outline text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">

                        {{ nbrlanternev }}</span></h2>
                <div class="text-muted m-t-5">Lanterne vide</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-th-menu-outline text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">

                        {{ nbrlanternep }}</span></h2>
                <div class="text-muted m-t-5">Lanterne Preparé</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-th-menu-outline text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">

                        {{ nbrlanterneChausser }}</span></h2>
                <div class="text-muted m-t-5">Lanterne Chausser <br>a eau</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-shopping-bag text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrpoche }}
                    </span></h2>
                <div class="text-muted m-t-5">Totale Poche</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-shopping-bag text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrpocheae }}
                    </span></h2>
                <div class="text-muted m-t-5">Poche en eau</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-shopping-bag text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrpochev }}
                    </span></h2>
                <div class="text-muted m-t-5">Poche vide</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-shopping-bag text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrpochep }}
                    </span></h2>
                <div class="text-muted m-t-5">Poche Preparé</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-shopping-bag text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrpocheAsp }}
                    </span></h2>
                <div class="text-muted m-t-5">Poche Assemble</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-shopping-bag text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbrpocheAsae }}
                    </span></h2>
                <div class="text-muted m-t-5">Poche assemblé <br> en eau</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget-panel widget-style-2 bg-white">
                <i class="md typcn typcn-shopping-bag text-custom"></i>
                <h2 class="m-0 text-dark counter font-600"><span data-plugin="counterup">
                        {{ nbPocheChausserAe }}
                    </span></h2>
                <div class="text-muted m-t-5">Poche chausser <br> a eau</div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Counter Up  -->
    <script src="{{ asset('bundles/ssfmb/plugins/waypoints/lib/jquery.waypoints.js') }}"></script>
    <script src="{{ asset('bundles/ssfmb/plugins/counterup/jquery.counterup.min.js') }}"></script>

    <!-- Widget js -->
    <script src="{{ asset('bundles/ssfmb/pages/jquery.widgets.js') }}"></script>

    <!-- Sparkline chart -->
    <script src="{{ asset('bundles/ssfmb/plugins/jquery-sparkline/jquery.sparkline.min.js') }}"></script>

{% endblock %}