<br/>
<a href="{{ path('parc') }}">
    gerer parc
</a>
<br/>
<a href="{{ path('filiere') }}">
    gerer filiere
</a>
<br/>
<a href="{{ path('segment') }}">
    gerer segment
</a>
<br/>
<a href="{{ path('ssegment') }}">
    gerer les sous segment
</a>
<br/>
<a href="{{ path('corde') }}">
    gerer corde
</a>
<br/>
<a href="{{ path('ssfmb_choixpage') }}">
    statistique
</a>