{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - MAELanterne{% endblock %}
{% block stylesheet %}
    {% if(entity != null) %}
        <link href="{{ asset('bundles/ssfmb/plugins/nestable/jquery.nestable.css') }}" rel="stylesheet"/>
        {{ parent() }}
    {% endif %}
{% endblock %}
{% block header %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}
    {% set page = 'MAEL' %}
    {% if(entity != null) %}
        <div class="row">
            <div class="col-lg-12">
                <div class="text-left" id="nestable_list_menu">
                    <button type="button" class="btn btn-pink waves-effect waves-light" data-action="expand-all">
                        Expand All
                    </button>
                    <button type="button" class="btn btn-purple waves-effect waves-light"
                            data-action="collapse-all">Collapse All
                    </button>
                </div>
            </div>
        </div>
        <!-- End row -->
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <form action="" method="post" id="formulaie" onsubmit="return validation()">
                            <div class="col-md-11">
                                <div id="idstockparc" hidden="true">{{ entity.idStock.idStock }}</div>
                                <div id="idparc" hidden="true">{{ entity.idMagasin }}</div>
                                <h4 class="m-t-0 header-title"><b>Mise a eau lanterne {{ entity.abrevMagasin }}</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                </p>
                                <div class="custom-dd dd" id="nestable_list_2">
                                    <ol class="dd-list">
                                        {#
                                         {{ render(controller(
                                         'SSFMBBundle:Filiere:findByParc',
                                         { 'parc': entity }
                                         )) }}
                                         #}
                                        {% include '@SSFMB/Filiere/Include/listIndexInclude.html.twig' %}
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div data-spy="affix">
                                    {% include '@SSFMB/Include/couleurCleInclude.html.twig' %}
                                    {% include "@SSFMB/Filiere/Include/listMenuIndexInclude.html.twig" %}
                                    <p>quantiter disponible</p>
                                    <p>
                                        <input type="number" id="quantit" readonly="true" value="0">
                                    </p>
                                    <p>date de preparation des lanternes</p>
                                    {% set now =  "now"|date("Y-m-d") %}
                                    <p>
                                        <input type="date" name="dateMAELanterne" value="{{ now }}">
                                    </p>
                                    <p>choisir type lanternes</p>
                                    <p>
                                        <select name="lanternechoix" id="lanternechoix">
                                            {% for lanterne in lanternes %}
                                                <option value="{{ lanterne.nomLanterne }}">
                                                    {{ lanterne.nomLanterne }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p> choisir l'article a mettre</p>
                                    <p>
                                        <select name="articlechoix" id="articlechoix">
                                            {% for article in articles %}
                                                <option value="{{ article.refStockArticle }}">
                                                    {{ article.refArticle.libArticle }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p> choisir le lot de l'article</p>
                                    <p>
                                        <select name="articlelotchoix" id="articlelotchoix"></select>
                                    </p>
                                    <div id="choixqtearticle">
                                        <p> choix de la quantiter des lanternes</p>
                                        <p>
                                            <select name="quantierchoix" id="quantierchoix"></select>
                                        </p>
                                        <p>
                                            <input type="submit" value="confirmer la mise a l'eau"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="custom-dd dd" id="nestable_list_1"></div>
                            </div><!-- end col -->
                        </form>        <!-- end col -->
                    </div> <!-- end row -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if(entity != null) %}
        <!--script for this page only-->
        <script src="{{ asset('bundles/ssfmb/plugins/nestable/jquery.nestable.js') }}"></script>
        <script src="{{ asset('bundles/ssfmb/pages/nestable.js') }}"></script>
        <script type="text/javascript">
            function validation() {
                if (parseInt($('#quantit').val()) < 0) {
                    alert("vous avez demander de mettre un nombre superieur de lanterne que celle preparé");
                    return false;
                } else {
                    check = confirm('vous confirmer les données (date de retrait, article , lot que vous avez choisie');
                    if (check == true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            }
            $(document).ready(function () {
                $('#choixqtearticle').ready(function () {
                    $('input:checkbox').hide();
                    $('#choixqtearticle').hide();
                    $('.cochage').hide();
                });
                $('input:checkbox').change(function () {
                    if ($(this).is(':checked')) {
                        $('#quantit').val(parseInt($('#quantit').val()) - 1);
                    } else {
                        $('#quantit').val(parseInt($('#quantit').val()) + 1);
                    }
                });
            });
            $('.cochage').hide();
            $('#articlelotchoix').hide();
            $('#articlechoix').ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ url('ssfmb_articlestock') }}?stock_id=" + $('#idstockparc').text() + "&sarticle=" + $('#articlechoix').val(),
                    beforeSend: function () {
                    },
                    success: function (data) {
                        if ($.trim(data)) {
                            var pos = true;
                            var lan = '';
                            $('#articlelotchoix').show();

                            // Remove current options
                            $('#articlelotchoix').html('');
                            $.each(data, function (k, v) {
                                if (pos) {
                                    lan = k;
                                    $('#articlelotchoix').append('<option value="' + v + '">' + k + '</option>');
                                    pos = false;
                                } else {
                                    pos = true;
                                }
                            });
                            $('#ss_fmbbundle_preparationlanterne_submit').show();
                            $.ajax({
                                type: 'get',
                                url: "{{ path('ssfmb_lanternearticle') }}",
                                data: {
                                    'idp': $('#idparc').text(),
                                    'lot': $('#articlelotchoix').val(),
                                    'ida': $('#articlechoix').val(),
                                    'idl': $('#lanternechoix').val()
                                },
                                dataType: 'json',
                                beforeSend: function () {
                                    $('#quantierchoix').empty();
                                },
                                success: function (json) {
                                    $('#quantierchoix').html('');
                                    if (!$.trim(json)) {
                                        $('#choixqtearticle').ready(function () {
                                            $('#choixqtearticle').hide();
                                            $('input:checkbox').hide();
                                            $('.cochage').hide();

                                        });
                                    }
                                    ;
                                    if ($.trim(json)) {
                                        $('#choixqtearticle').ready(function () {
                                            $('input:checkbox').show();
                                            $('#choixqtearticle').show();
                                            $('.cochage').show();

                                            $.ajax({
                                                type: 'get',
                                                url: "{{ path('ssfmb_nombrelanternearticle') }}",
                                                data: {
                                                    'ida': $('#articlechoix').val(),
                                                    'lot': $('#articlelotchoix').val(),
                                                    'idl': $('#lanternechoix').val(),
                                                    'qtech': $('#quantierchoix').val()
                                                },
                                                dataType: 'json',
                                                beforeSend: function () {
                                                },
                                                success: function (json) {
                                                    $('#quantit').val(0);
                                                    if ($.trim(json)) {
                                                        $('#choixqtearticle').ready(function () {
                                                            $("input:checkbox").each(function () {
                                                                $(this).prop('checked', false);
                                                            });
                                                            $('input:checkbox').show();
                                                            $('#choixqtearticle').show();
                                                            $('.cochage').show();

                                                        });
                                                    }
                                                    $.each(json, function (index, value) {
                                                        $('#quantit').val(value.nombre);
                                                        $("input:checkbox").each(function () {
                                                            $(this).attr('checked', false);
                                                        });
                                                    });
                                                }
                                            });
                                            $("input:checkbox").each(function () {
                                                $(this).prop('checked', false);
                                            });
                                        });
                                    }
                                    ;

                                    $.each(json, function (index, value) {
                                        $('#quantit').val(value.nombre);
                                        $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                                    });
                                }
                            });
                        }
                    }
                });
            });

            $('#articlechoix').change(function () {
                $.ajax({
                    type: 'get',
                    url: "{{ path('ssfmb_lanternearticle') }}",
                    data: {
                        'idp': $('#idparc').text(),
                        'lot': $('#articlelotchoix').val(),
                        'ida': $('#articlechoix').val(),
                        'idl': $('#lanternechoix').val()
                    },
                    dataType: 'json',
                    beforeSend: function () {

                        $('#quantierchoix').empty();
                    },
                    success: function (json) {
                        $('#quantit').val(0);
                        $('#quantierchoix').html('');
                        if (!$.trim(json)) {
                            $('#choixqtearticle').ready(function () {
                                $('input:checkbox').hide();
                                $('#choixqtearticle').hide();
                                $('.cochage').hide();
                            });
                        }
                        if ($.trim(json)) {
                            $('#choixqtearticle').ready(function () {
                                $("input:checkbox").each(function () {
                                    $(this).prop('checked', false);
                                });
                                $('input:checkbox').show();

                                $('#choixqtearticle').show();
                                $.ajax({
                                    type: 'get',
                                    url: "{{ path('ssfmb_nombrelanternearticle') }}",
                                    data: {
                                        'ida': $('#articlechoix').val(),
                                        'lot': $('#articlelotchoix').val(),
                                        'idl': $('#lanternechoix').val(),
                                        'qtech': $('#quantierchoix').val()
                                    },
                                    dataType: 'json',
                                    beforeSend: function () {
                                    },
                                    success: function (json) {
                                        $('#quantit').val(0);
                                        if ($.trim(json)) {
                                            $('#choixqtearticle').ready(function () {
                                                $("input:checkbox").each(function () {
                                                    $(this).prop('checked', false);
                                                });
                                                $('input:checkbox').show();
                                                $('#choixqtearticle').show();
                                                $('.cochage').show();

                                            });
                                        }
                                        $.each(json, function (index, value) {
                                            $('#quantit').val(value.nombre);
                                            $("input:checkbox").each(function () {
                                                $(this).attr('checked', false);
                                            });
                                        });
                                    }
                                });
                            });
                        }
                        $.each(json, function (index, value) {
                            $('#quantit').val(value.nombre);
                            $("input:checkbox").each(function () {
                                $(this).attr('checked', false);
                            });
                            // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
                            $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                        });
                    }
                });
            });

            $('#lanternechoix').change(function () {
                $.ajax({
                    type: 'get',
                    url: "{{ path('ssfmb_lanternearticle') }}",
                    data: {
                        'idp': $('#idparc').text(),
                        'lot': $('#articlelotchoix').val(),
                        'ida': $('#articlechoix').val(),
                        'idl': $('#lanternechoix').val()
                    },
                    dataType: 'json',
                    beforeSend: function () {

                        $('#quantierchoix').empty();
                    },
                    success: function (json) {
                        $('#quantit').val(0);
                        $('#quantierchoix').html('');
                        if (!$.trim(json)) {
                            $('#choixqtearticle').ready(function () {
                                $('input:checkbox').hide();
                                $('.cochage').hide();
                                $('#choixqtearticle').hide();
                            });
                        }
                        if ($.trim(json)) {
                            $('#choixqtearticle').ready(function () {
                                $("input:checkbox").each(function () {
                                    $(this).prop('checked', false);
                                });
                                $('input:checkbox').show();

                                $('#choixqtearticle').show();
                                $('.cochage').show();

                                $.ajax({
                                    type: 'get',
                                    url: "{{ path('ssfmb_nombrelanternearticle') }}",
                                    data: {
                                        'ida': $('#articlechoix').val(),
                                        'lot': $('#articlelotchoix').val(),
                                        'idl': $('#lanternechoix').val(),
                                        'qtech': $('#quantierchoix').val()
                                    },
                                    dataType: 'json',
                                    beforeSend: function () {
                                    },
                                    success: function (json) {
                                        $('#quantit').val(0);

                                        if ($.trim(json)) {
                                            $('#choixqtearticle').ready(function () {
                                                $("input:checkbox").each(function () {
                                                    $(this).prop('checked', false);
                                                });
                                                $('input:checkbox').show();

                                                $('#choixqtearticle').show();
                                                $('.cochage').show();

                                            });
                                        }
                                        $.each(json, function (index, value) {
                                            $('#quantit').val(value.nombre);
                                            $("input:checkbox").each(function () {
                                                $(this).attr('checked', false);
                                            });
                                        });
                                    }
                                });
                            });
                        }
                        $.each(json, function (index, value) {
                            $('#quantit').val(value.nombre);
                            $("input:checkbox").each(function () {
                                $(this).attr('checked', false);
                            });
                            // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
                            $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                        });
                    }
                });
            });
            $('#articlelotchoix').change(function () {
                $.ajax({
                    type: 'get',
                    url: "{{ path('ssfmb_lanternearticle') }}",
                    data: {
                        'idp': $('#idparc').text(),
                        'lot': $('#articlelotchoix').val(),
                        'ida': $('#articlechoix').val(),
                        'idl': $('#lanternechoix').val()
                    },
                    dataType: 'json',
                    beforeSend: function () {

                        $('#quantierchoix').empty();
                    },
                    success: function (json) {
                        $('#quantit').val(0);
                        $('#quantierchoix').html('');
                        if (!$.trim(json)) {
                            $('#choixqtearticle').ready(function () {
                                $('input:checkbox').hide();
                                $('#choixqtearticle').hide();
                                $('.cochage').hide();

                            });
                        }
                        if ($.trim(json)) {
                            $('#choixqtearticle').ready(function () {
                                $("input:checkbox").each(function () {
                                    $(this).prop('checked', false);
                                });
                                $('input:checkbox').show();

                                $('#choixqtearticle').show();
                                $('.cochage').show();

                                $.ajax({
                                    type: 'get',
                                    url: "{{ path('ssfmb_nombrelanternearticle') }}",
                                    data: {
                                        'ida': $('#articlechoix').val(),
                                        'lot': $('#articlelotchoix').val(),
                                        'idl': $('#lanternechoix').val(),
                                        'qtech': $('#quantierchoix').val()
                                    },
                                    dataType: 'json',
                                    beforeSend: function () {
                                    },
                                    success: function (json) {
                                        $('#quantit').val(0);
                                        if ($.trim(json)) {
                                            $('#choixqtearticle').ready(function () {
                                                $("input:checkbox").each(function () {
                                                    $(this).prop('checked', false);
                                                });
                                                $('input:checkbox').show();

                                                $('#choixqtearticle').show();
                                                $('.cochage').show();

                                            });
                                        }
                                        $.each(json, function (index, value) {
                                            $('#quantit').val(value.nombre);
                                            $("input:checkbox").each(function () {
                                                $(this).attr('checked', false);
                                            });
                                        });
                                    }
                                });
                            });
                        }
                        $.each(json, function (index, value) {
                            $('#quantit').val(value.nombre);
                            $("input:checkbox").each(function () {
                                $(this).attr('checked', false);
                            });
                            // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
                            $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                        });
                    }
                });
            });
            $('#quantierchoix').change(function () {
                $.ajax({
                    type: 'get',
                    url: "{{ path('ssfmb_nombrelanternearticle') }}",
                    data: {
                        'ida': $('#articlechoix').val(),
                        'lot': $('#articlelotchoix').val(),
                        'idl': $('#lanternechoix').val(),
                        'qtech': $('#quantierchoix').val()
                    },
                    dataType: 'json',
                    beforeSend: function () {
                    },
                    success: function (json) {
                        $('#quantit').val(0);
                        if ($.trim(json)) {
                            $('#choixqtearticle').ready(function () {
                                $("input:checkbox").each(function () {
                                    $(this).prop('checked', false);
                                });
                                $('input:checkbox').show();

                                $('#choixqtearticle').show();
                                $('.cochage').show();

                            });
                        }
                        $.each(json, function (index, value) {
                            $('#quantit').val(value.nombre);
                            $("input:checkbox").each(function () {
                                $(this).attr('checked', false);
                            });
                        });
                    }
                });
            });


            function fillCheckbox(containerID, fill) {

                var checkbox = $('#' + containerID);
                var checkbox = checkbox.find('input[type="checkbox"]');

                checkbox.each(function () {
                    switch (fill) {
                        case '0':
                            if (this.checked == true)
                                $('#quantit').val(parseInt($('#quantit').val()) + 1);
                            this.checked = false;
                            break;
                        case '1':
                            if (this.checked == false)
                                $('#quantit').val(parseInt($('#quantit').val()) - 1);
                            this.checked = true;
                            break;
                        case 2:
                            this.checked = !this.checked;
                            break;
                    }
                });
            }    </script>
    {% endif %}
{% endblock %}
