{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    MAELanterne - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {{ parent() }}
        <div class="row">
            <div class="col-md-12">
                <p>Mise a eau lanterne</p>
                <ul class="pagination pagination-lg">
                    {{ knp_menu_render('SSFMBBundle:Builder:parcMAELMenu') }}
                </ul>
                <form action="" method="post" id="formulaie" onsubmit="return validation()">
                    <table class="table table-condensed table-bordered" border="1">
                        <tbody>
                        <tr>
                            <td>
                                {% if(entity != null) %}
                                <div id="idstockparc" hidden="true">{{ entity.idStock.idStock }}</div>
                                <div id="idparc" hidden="true">{{ entity.idMagasin }}</div>
                                {{ entity.abrevMagasin }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-condensed table-bordered" border="1">
                                    <tbody>
                                    {% for filiere in entity.filieres %}
                                        <tr>
                                            <td id="{{ filiere.nomFiliere }}">{{ filiere.nomFiliere }}
                                                <br/>
                                                {% set tailleFiliere =0 %}
                                                {% for segment in filiere.segments %}
                                                    {% set tailleFiliere = tailleFiliere+segment.getLongeur %}
                                                {% endfor %}
                                                taille {{ tailleFiliere }} m
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="table table-condensed table-bordered" border="1">
                                                    <tbody>
                                                    <tr>
                                                        {% for segment in filiere.segments %}
                                                            <td valign="top">
                                                                <ul>
                                                                    <li> {{ segment.getNomSegment }}</li>
                                                                    <li>{{ segment.getLongeur }} m</li>
                                                                </ul>
                                                                <table>
                                                                    {% for flotteur in segment.flotteurs %}
                                                                    <tr>
                                                                        <td>
                                                                            <div id="{{ filiere.getNomFiliere }}{{ segment.getNomSegment }}{{ flotteur.getNomFlotteur }}">
                                                                                {{ flotteur.getNomFlotteur }}|
                                                                                {% set verifexsistance = 0 %}

                                                                                {% for emplacement in flotteur.emplacements %}
                                                                                {% if emplacement.stockscorde == null and emplacement.stockslanterne == null %}
                                                                                    {% set verifexsistance =  verifexsistance + 1 %}
                                                                                    <font color="red"> {{ emplacement.place }}</font>
                                                                                    <input type="checkbox"
                                                                                           name="placelanterne[]"
                                                                                           value="{{ emplacement.id }}"/>|
                                                                                    <span style="display: none"
                                                                                          id="dateemplacement">{{ emplacement.dateDeRemplissage|date('Y-m-d') }}</span>
                                                                                {% elseif emplacement.stockscorde != null %}
                                                                                    {% include "SSFMBBundle:Include:suivitEtatCordeInclude.html.twig" %}
                                                                                    <span style="display: none"
                                                                                          id="dateemplacement">{{ emplacement.dateDeRemplissage|date('Y-m-d') }}
                                                                                    </span>

                                                                                {% elseif emplacement.stockslanterne != null %}
                                                                                    {% include "SSFMBBundle:Include:suivitEtatLanterneInclude.html.twig" %}
                                                                                    <span style="display: none"
                                                                                          id="dateemplacement">{{ emplacement.dateDeRemplissage|date('Y-m-d') }}
                                                                                    </span>
                                                                                {% endif %}
                                                                                {% endfor %}<br>
                                                                                {% if verifexsistance != 0 %}
                                                                                    <div class="cochage">
                                                                                        <input type="button"
                                                                                               value="Tout cocher"
                                                                                               onClick="fillCheckbox('{{ filiere.getNomFiliere }}{{ segment.getNomSegment }}{{ flotteur.getNomFlotteur }}','1');">&nbsp;&nbsp;
                                                                                        <input type="button"
                                                                                               value="Tout décocher"
                                                                                               onClick="fillCheckbox('{{ filiere.getNomFiliere }}{{ segment.getNomSegment }}{{ flotteur.getNomFlotteur }}','0');">
                                                                                    </div>
                                                                                {% endif %}
                                                                                {% endfor %}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td width="20%">
                                <div data-spy="affix" data-offset-top="60" data-offset-bottom="200" id="menuform">
                                    <p>
                                        {% include "SSFMBBundle:Include:couleurCleInclude.html.twig" %}
                                    </p>
                                    <p>
                                    <div><a href="#menuprincipale">menu</a></div>
                                    <div>Listez des filieres</div>
                                    {% for filiere in entity.filieres %}
                                        <span class="lienfiliereint">
                                            <a href="#{{ filiere.nomFiliere }}">{{ filiere.nomFiliere }}</a>
                                        </span>
                                    {% endfor %}
                                    </p>

                                    <p>quantiter disponible</p>
                                    <p><input type="number" id="quantit" readonly="true" value="0"></p>
                                    <p>date de preparation des lanternes</p>
                                    {% set now =  "now"|date("Y-m-d") %}
                                    <p><input type="date" name="dateMAELanterne" value="{{ now }}"></p>
                                    <p>choisir type lanternes</p>
                                    <p>
                                        <select name="lanternechoix" id="lanternechoix">
                                            {% for lanterne in lanternes %}
                                                <option value="{{ lanterne.nomLanterne }}">{{ lanterne.nomLanterne }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>

                                    <p> choisir l'article a mettre</p>

                                    <p>
                                        <select name="articlechoix" id="articlechoix">
                                            {% for article in articles %}
                                                <option value="{{ article.refStockArticle }}">{{ article.refArticle.libArticle }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p> choisir le lot de l'article</p>

                                    <p>
                                        <select name="articlelotchoix" id="articlelotchoix">

                                        </select>
                                    </p>

                                    <div id="choixqtearticle">
                                        <p> choix de la quantiter des lanternes</p>
                                        <p>
                                            <select name="quantierchoix" id="quantierchoix"></select>
                                        </p>
                                        <p><input type="submit" value="confirmer la mise a l'eau"/></p>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function validation() {
            if (parseInt($('#quantit').val()) < 0) {
                alert("vous avez demander de mettre un nombre superieur de lanterne que celle preparé");
                return false;
            } else {
                check = confirm('vous confirmer les données (date de retrait, article , lot que vous avez choisie');
                if (check == true) {
                    return true;
                }
                else {
                    return false;
                }
            }
        }
        $(document).ready(function () {
            $('#choixqtearticle').ready(function () {
                $('input:checkbox').hide();
                $('#choixqtearticle').hide();
                $('.cochage').hide();
            });
            $('input:checkbox').change(function () {
                if ($(this).is(':checked')) {
                    $('#quantit').val(parseInt($('#quantit').val()) - 1);
                } else {
                    $('#quantit').val(parseInt($('#quantit').val()) + 1);
                }
            });
        });
        $('.cochage').hide();
        $('#articlelotchoix').hide();
        $('#articlechoix').ready(function () {
            $.ajax({
                type: "POST",
                url: "{{ url('ssfmb_articlestock') }}?stock_id=" + $('#idstockparc').text() + "&sarticle=" + $('#articlechoix').val(),
                beforeSend: function () {
                },
                success: function (data) {
                    if ($.trim(data)) {
                        var pos = true;
                        var lan = '';
                        $('#articlelotchoix').show();

                        // Remove current options
                        $('#articlelotchoix').html('');
                        $.each(data, function (k, v) {
                            if (pos) {
                                lan = k;
                                $('#articlelotchoix').append('<option value="' + v + '">' + k + '</option>');
                                pos = false;
                            } else {
                                pos = true;
                            }
                        });
                        $('#ss_fmbbundle_preparationlanterne_submit').show();
                        $.ajax({
                            type: 'get',
                            url: "{{ path('ssfmb_lanternearticle') }}",
                            data: {
                                'idp': $('#idparc').text(),
                                'lot': $('#articlelotchoix').val(),
                                'ida': $('#articlechoix').val(),
                                'idl': $('#lanternechoix').val()
                            },
                            dataType: 'json',
                            beforeSend: function () {
                                $('#quantierchoix').empty();
                            },
                            success: function (json) {
                                $('#quantierchoix').html('');
                                if (!$.trim(json)) {
                                    $('#choixqtearticle').ready(function () {
                                        $('#choixqtearticle').hide();
                                        $('input:checkbox').hide();
                                        $('.cochage').hide();

                                    });
                                }
                                ;
                                if ($.trim(json)) {
                                    $('#choixqtearticle').ready(function () {
                                        $('input:checkbox').show();
                                        $('#choixqtearticle').show();
                                        $('.cochage').show();

                                        $.ajax({
                                            type: 'get',
                                            url: "{{ path('ssfmb_nombrelanternearticle') }}",
                                            data: {
                                                'ida': $('#articlechoix').val(),
                                                'lot': $('#articlelotchoix').val(),
                                                'idl': $('#lanternechoix').val(),
                                                'qtech': $('#quantierchoix').val()
                                            },
                                            dataType: 'json',
                                            beforeSend: function () {
                                            },
                                            success: function (json) {
                                                $('#quantit').val(0);
                                                if ($.trim(json)) {
                                                    $('#choixqtearticle').ready(function () {
                                                        $("input:checkbox").each(function () {
                                                            $(this).prop('checked', false);
                                                        });
                                                        $('input:checkbox').show();
                                                        $('#choixqtearticle').show();
                                                        $('.cochage').show();

                                                    });
                                                }
                                                $.each(json, function (index, value) {
                                                    $('#quantit').val(value.nombre);
                                                    $("input:checkbox").each(function () {
                                                        $(this).attr('checked', false);
                                                    });
                                                });
                                            }
                                        });
                                        $("input:checkbox").each(function () {
                                            $(this).prop('checked', false);
                                        });
                                    });
                                }
                                ;

                                $.each(json, function (index, value) {
                                    $('#quantit').val(value.nombre);
                                    $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                                });
                            }
                        });
                    }
                }
            });
        });

        $('#articlechoix').change(function () {
            $.ajax({
                type: 'get',
                url: "{{ path('ssfmb_lanternearticle') }}",
                data: {
                    'idp': $('#idparc').text(),
                    'lot': $('#articlelotchoix').val(),
                    'ida': $('#articlechoix').val(),
                    'idl': $('#lanternechoix').val()
                },
                dataType: 'json',
                beforeSend: function () {

                    $('#quantierchoix').empty();
                },
                success: function (json) {
                    $('#quantit').val(0);
                    $('#quantierchoix').html('');
                    if (!$.trim(json)) {
                        $('#choixqtearticle').ready(function () {
                            $('input:checkbox').hide();
                            $('#choixqtearticle').hide();
                            $('.cochage').hide();
                        });
                    }
                    if ($.trim(json)) {
                        $('#choixqtearticle').ready(function () {
                            $("input:checkbox").each(function () {
                                $(this).prop('checked', false);
                            });
                            $('input:checkbox').show();

                            $('#choixqtearticle').show();
                            $.ajax({
                                type: 'get',
                                url: "{{ path('ssfmb_nombrelanternearticle') }}",
                                data: {
                                    'ida': $('#articlechoix').val(),
                                    'lot': $('#articlelotchoix').val(),
                                    'idl': $('#lanternechoix').val(),
                                    'qtech': $('#quantierchoix').val()
                                },
                                dataType: 'json',
                                beforeSend: function () {
                                },
                                success: function (json) {
                                    $('#quantit').val(0);
                                    if ($.trim(json)) {
                                        $('#choixqtearticle').ready(function () {
                                            $("input:checkbox").each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            $('input:checkbox').show();
                                            $('#choixqtearticle').show();
                                            $('.cochage').show();

                                        });
                                    }
                                    $.each(json, function (index, value) {
                                        $('#quantit').val(value.nombre);
                                        $("input:checkbox").each(function () {
                                            $(this).attr('checked', false);
                                        });
                                    });
                                }
                            });
                        });
                    }
                    $.each(json, function (index, value) {
                        $('#quantit').val(value.nombre);
                        $("input:checkbox").each(function () {
                            $(this).attr('checked', false);
                        });
                        // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
                        $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                    });
                }
            });
        });

        $('#lanternechoix').change(function () {
            $.ajax({
                type: 'get',
                url: "{{ path('ssfmb_lanternearticle') }}",
                data: {
                    'idp': $('#idparc').text(),
                    'lot': $('#articlelotchoix').val(),
                    'ida': $('#articlechoix').val(),
                    'idl': $('#lanternechoix').val()
                },
                dataType: 'json',
                beforeSend: function () {

                    $('#quantierchoix').empty();
                },
                success: function (json) {
                    $('#quantit').val(0);
                    $('#quantierchoix').html('');
                    if (!$.trim(json)) {
                        $('#choixqtearticle').ready(function () {
                            $('input:checkbox').hide();
                            $('.cochage').hide();
                            $('#choixqtearticle').hide();
                        });
                    }
                    if ($.trim(json)) {
                        $('#choixqtearticle').ready(function () {
                            $("input:checkbox").each(function () {
                                $(this).prop('checked', false);
                            });
                            $('input:checkbox').show();

                            $('#choixqtearticle').show();
                            $('.cochage').show();

                            $.ajax({
                                type: 'get',
                                url: "{{ path('ssfmb_nombrelanternearticle') }}",
                                data: {
                                    'ida': $('#articlechoix').val(),
                                    'lot': $('#articlelotchoix').val(),
                                    'idl': $('#lanternechoix').val(),
                                    'qtech': $('#quantierchoix').val()
                                },
                                dataType: 'json',
                                beforeSend: function () {
                                },
                                success: function (json) {
                                    $('#quantit').val(0);

                                    if ($.trim(json)) {
                                        $('#choixqtearticle').ready(function () {
                                            $("input:checkbox").each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            $('input:checkbox').show();

                                            $('#choixqtearticle').show();
                                            $('.cochage').show();

                                        });
                                    }
                                    $.each(json, function (index, value) {
                                        $('#quantit').val(value.nombre);
                                        $("input:checkbox").each(function () {
                                            $(this).attr('checked', false);
                                        });
                                    });
                                }
                            });
                        });
                    }
                    $.each(json, function (index, value) {
                        $('#quantit').val(value.nombre);
                        $("input:checkbox").each(function () {
                            $(this).attr('checked', false);
                        });
                        // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
                        $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                    });
                }
            });
        });
        $('#articlelotchoix').change(function () {
            $.ajax({
                type: 'get',
                url: "{{ path('ssfmb_lanternearticle') }}",
                data: {
                    'idp': $('#idparc').text(),
                    'lot': $('#articlelotchoix').val(),
                    'ida': $('#articlechoix').val(),
                    'idl': $('#lanternechoix').val()
                },
                dataType: 'json',
                beforeSend: function () {

                    $('#quantierchoix').empty();
                },
                success: function (json) {
                    $('#quantit').val(0);
                    $('#quantierchoix').html('');
                    if (!$.trim(json)) {
                        $('#choixqtearticle').ready(function () {
                            $('input:checkbox').hide();
                            $('#choixqtearticle').hide();
                            $('.cochage').hide();

                        });
                    }
                    if ($.trim(json)) {
                        $('#choixqtearticle').ready(function () {
                            $("input:checkbox").each(function () {
                                $(this).prop('checked', false);
                            });
                            $('input:checkbox').show();

                            $('#choixqtearticle').show();
                            $('.cochage').show();

                            $.ajax({
                                type: 'get',
                                url: "{{ path('ssfmb_nombrelanternearticle') }}",
                                data: {
                                    'ida': $('#articlechoix').val(),
                                    'lot': $('#articlelotchoix').val(),
                                    'idl': $('#lanternechoix').val(),
                                    'qtech': $('#quantierchoix').val()
                                },
                                dataType: 'json',
                                beforeSend: function () {
                                },
                                success: function (json) {
                                    $('#quantit').val(0);
                                    if ($.trim(json)) {
                                        $('#choixqtearticle').ready(function () {
                                            $("input:checkbox").each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            $('input:checkbox').show();

                                            $('#choixqtearticle').show();
                                            $('.cochage').show();

                                        });
                                    }
                                    $.each(json, function (index, value) {
                                        $('#quantit').val(value.nombre);
                                        $("input:checkbox").each(function () {
                                            $(this).attr('checked', false);
                                        });
                                    });
                                }
                            });
                        });
                    }
                    $.each(json, function (index, value) {
                        $('#quantit').val(value.nombre);
                        $("input:checkbox").each(function () {
                            $(this).attr('checked', false);
                        });
                        // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
                        $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                    });
                }
            });
        });
        $('#quantierchoix').change(function () {
            $.ajax({
                type: 'get',
                url: "{{ path('ssfmb_nombrelanternearticle') }}",
                data: {
                    'ida': $('#articlechoix').val(),
                    'lot': $('#articlelotchoix').val(),
                    'idl': $('#lanternechoix').val(),
                    'qtech': $('#quantierchoix').val()
                },
                dataType: 'json',
                beforeSend: function () {
                },
                success: function (json) {
                    $('#quantit').val(0);
                    if ($.trim(json)) {
                        $('#choixqtearticle').ready(function () {
                            $("input:checkbox").each(function () {
                                $(this).prop('checked', false);
                            });
                            $('input:checkbox').show();

                            $('#choixqtearticle').show();
                            $('.cochage').show();

                        });
                    }
                    $.each(json, function (index, value) {
                        $('#quantit').val(value.nombre);
                        $("input:checkbox").each(function () {
                            $(this).attr('checked', false);
                        });
                    });
                }
            });
        });


        function fillCheckbox(containerID, fill) {

            var checkbox = $('#' + containerID);
            var checkbox = checkbox.find('input[type="checkbox"]');

            checkbox.each(function () {
                switch (fill) {
                    case '0':
                        if (this.checked == true)
                            $('#quantit').val(parseInt($('#quantit').val()) + 1);
                        this.checked = false;
                        break;
                    case '1':
                        if (this.checked == false)
                            $('#quantit').val(parseInt($('#quantit').val()) - 1);
                        this.checked = true;
                        break;
                    case 2:
                        this.checked = !this.checked;
                        break;
                }
            });
        }    </script>
{% endblock %}
