{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    preparer lanterne - {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             id="myBar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            0%
        </div>
    </div>

    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# Voici le script en question : #}
    <script type="text/javascript">
        function move() {
            var elem = document.getElementById("myBar");
            var width = 10;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("myBar").innerHTML = width * 1 + '%';
                }
            }
        }
        $(document).ready(function () {
            move();
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#ss_fmbbundle_preparationlanterne_document_docsLines');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<a href="#" id="add_DocsLine" class="btn btn-default">Ajouter une ligne</a>');
            $container.append($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function (e) {
                addDocsLine($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addDocsLine($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function () {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function addDocsLine($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'DocsLine n°' + (index + 1))
                        .replace(/__name__/g, index));
                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function (e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }

            jQuery('#ss_fmbbundle_preparationlanterne_libStock').hide();
            jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').hide();
            jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').hide();
            jQuery('#ss_fmbbundle_preparationlanterne_quantiterEnStock').hide();
            jQuery('#ss_fmbbundle_preparationlanterne_submit').hide();
            jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').hide()
            jQuery('#ss_fmbbundle_preparationlanterne_Parc').ready(function () {
                var val = jQuery("#ss_fmbbundle_preparationlanterne_Parc").val();

                jQuery.ajax({
                    type: "POST",
                    url: "{{ url('ssfmb_parcstock') }}?parc_id=" + val,
                    success: function (data) {
                        if (jQuery.trim(data)) {
                            jQuery('#ss_fmbbundle_preparationlanterne_libStock').show();

                            // Remove current options
                            jQuery('#ss_fmbbundle_preparationlanterne_libStock').html('');
                            jQuery.each(data, function (k, v) {
                                jQuery('#ss_fmbbundle_preparationlanterne_libStock').append('<option value="' + v + '">' + k + '</option>');
                            });
                            jQuery.ajax({
                                type: "POST",
                                url: "{{ url('ssfmb_parclanterne') }}?parc_id=" + val,
                                success: function (data) {
                                    if (jQuery.trim(data)) {
                                        var pos = true;
                                        var lan = '';
                                        jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').show();

                                        // Remove current options
                                        jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').html('');
                                        jQuery.each(data, function (k, v) {
                                            if (pos) {
                                                lan = k;
                                                jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').append('<option value="' + v + '">' + k + '</option>');
                                                pos = false;
                                            } else {
                                                if (jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').val() == lan) {
                                                    jQuery('#ss_fmbbundle_preparationlanterne_quantiterEnStock').show();
                                                    jQuery('#ss_fmbbundle_preparationlanterne_quantiterEnStock').val(v);
                                                }
                                                pos = true;

                                            }
                                        });
                                        jQuery('#ss_fmbbundle_preparationlanterne_submit').show();
                                    }
                                }
                            });
                            jQuery.noConflict();
                            jQuery.ajax({
                                type: "POST",
                                url: "{{ url('ssfmb_articlestock') }}?stock_id=" + jQuery('#ss_fmbbundle_preparationlanterne_libStock').val() + "&article=" + jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_refArticle').val(),
                                success: function (data) {
                                    if (jQuery.trim(data)) {
                                        var pos = true;
                                        var lan = '';
                                        jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').show();

                                        // Remove current options
                                        jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').html('');
                                        jQuery.each(data, function (k, v) {
                                            console.log(k, v);
                                            if (pos) {
                                                lan = k;
                                                jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').append('<option value="' + v + '">' + k + '</option>');
                                                pos = false;
                                            } else {
                                                if (jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').val() == lan) {
                                                    jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').show();
                                                    console.log(v);
                                                    jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').val(v);
                                                }
                                                pos = true;
                                            }
                                        });
                                        jQuery('#ss_fmbbundle_preparationlanterne_submit').show();
                                    }
                                }
                            });
                        }
                    }
                });
                return false;
            });
            jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_refArticle').change(function () {
                jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').hide()
                jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').hide();
                jQuery.ajax({
                    type: "POST",
                    url: "{{ url('ssfmb_articlestock') }}?stock_id=" + jQuery('#ss_fmbbundle_preparationlanterne_libStock').val() + "&article=" + jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_refArticle').val(),
                    success: function (data) {
                        if (jQuery.trim(data)) {
                            var pos = true;
                            var lan = '';
                            jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').show();

                            // Remove current options
                            jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').html('');
                            jQuery.each(data, function (k, v) {
                                if (pos) {
                                    lan = k;
                                    jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').append('<option value="' + v + '">' + k + '</option>');
                                    pos = false;
                                } else {
                                    if (jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').val() == lan) {
                                        jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').show();
                                        console.log(v);
                                        jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').val(v);
                                    }
                                    pos = true;

                                }
                            });
                            jQuery('#ss_fmbbundle_preparationlanterne_submit').show();
                        }
                    }
                });
            });

            jQuery('#ss_fmbbundle_preparationlanterne_Parc').change(function () {
                jQuery('#ss_fmbbundle_preparationlanterne_libStock').hide();
                jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').hide();
                jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').hide();
                jQuery('#ss_fmbbundle_preparationlanterne_quantiterEnStock').hide();
                jQuery('#ss_fmbbundle_preparationlanterne_submit').hide();
                jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').hide()
                var val = jQuery(this).val();
                jQuery.ajax({
                    type: "POST",
                    url: "{{ url('ssfmb_parcstock') }}?parc_id=" + val,
                    success: function (data) {
                        if (jQuery.trim(data)) {
                            jQuery('#ss_fmbbundle_preparationlanterne_libStock').show();

                            // Remove current options
                            jQuery('#ss_fmbbundle_preparationlanterne_libStock').html('');
                            jQuery.each(data, function (k, v) {
                                jQuery('#ss_fmbbundle_preparationlanterne_libStock').append('<option value="' + v + '">' + k + '</option>');
                            });
                            jQuery.ajax({
                                type: "POST",
                                url: "{{ url('ssfmb_parclanterne') }}?parc_id=" + val,
                                success: function (data) {
                                    if (jQuery.trim(data)) {
                                        var pos = true;
                                        var lan = '';
                                        jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').show();

                                        // Remove current options
                                        jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').html('');
                                        jQuery.each(data, function (k, v) {
                                            if (pos) {
                                                lan = k;
                                                jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').append('<option value="' + v + '">' + k + '</option>');
                                                pos = false;
                                            } else {
                                                if (jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').val() == lan) {
                                                    jQuery('#ss_fmbbundle_preparationlanterne_quantiterEnStock').show();
                                                    console.log(v);
                                                    jQuery('#ss_fmbbundle_preparationlanterne_quantiterEnStock').val(v);
                                                }
                                                pos = true;

                                            }
                                        });
                                        jQuery('#ss_fmbbundle_preparationlanterne_submit').show();
                                    }
                                }
                            });
                            jQuery.ajax({
                                type: "POST",
                                url: "{{ url('ssfmb_articlestock') }}?stock_id=" + jQuery('#ss_fmbbundle_preparationlanterne_libStock').val() + "&article=" + jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_refArticle').val(),
                                success: function (data) {
                                    if (jQuery.trim(data)) {
                                        var pos = true;
                                        var lan = '';
                                        jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').show();

                                        // Remove current options
                                        jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').html('');
                                        jQuery.each(data, function (k, v) {
                                            if (pos) {
                                                lan = k;
                                                jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').append('<option value="' + v + '">' + k + '</option>');
                                                pos = false;
                                            } else {
                                                if (jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').val() == lan) {
                                                    jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').show();
                                                    console.log(v);
                                                    jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').val(v);
                                                }
                                                pos = true;

                                            }
                                        });
                                        jQuery('#ss_fmbbundle_preparationlanterne_submit').show();
                                    }
                                }
                            });
                        }
                    }
                });
                return false;
            });
            jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').change(function () {
                jQuery('#ss_fmbbundle_preparationlanterne_submit').hide();
                jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').hide();
                jQuery('#ss_fmbbundle_preparationlanterne_quantiterEnStock').hide();
                var val = jQuery("#ss_fmbbundle_preparationlanterne_Parc").val();

                jQuery.ajax({
                    type: "POST",
                    url: "{{ url('ssfmb_parclanterne') }}?parc_id=" + val,
                    success: function (data) {
                        if (jQuery.trim(data)) {
                            var pos = true;
                            var lan = '';
                            jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').show();
                            jQuery.each(data, function (k, v) {
                                if (pos) {
                                    lan = k;
                                    pos = false;
                                } else {
                                    if (jQuery('#ss_fmbbundle_preparationlanterne_nomLanterne').val() == lan) {
                                        jQuery('#ss_fmbbundle_preparationlanterne_quantiterEnStock').show();
                                        console.log(v);
                                        jQuery('#ss_fmbbundle_preparationlanterne_quantiterEnStock').val(v);
                                    }
                                    pos = true;

                                }
                            });
                            jQuery('#ss_fmbbundle_preparationlanterne_submit').show();
                        }
                    }
                });
            });

            jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').change(function () {
                jQuery('#ss_fmbbundle_preparationlanterne_submit').hide();
                jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').hide();
                var val = jQuery("#ss_fmbbundle_preparationlanterne_Parc").val();

                jQuery.ajax({
                    type: "POST",
                    url: "{{ url('ssfmb_articlestocklot') }}?stock_id=" + jQuery('#ss_fmbbundle_preparationlanterne_libStock').val() + "&article=" + jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_refArticle').val() + "&lot=" + jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_numeroSerie').val(),
                    success: function (data) {
                        if (jQuery.trim(data)) {
                            jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').show();
                            // Remove current options
                            jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').html('');
                            jQuery.each(data, function (k, v) {
                                        jQuery('#ss_fmbbundle_preparationlanterne_document_docsLines_0_qte').val(v);
                            });
                            jQuery('#ss_fmbbundle_preparationlanterne_submit').show();
                        }
                    }
                });
            });


        });
    </script>
{% endblock %}


