{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    preparer corde - {{ parent() }}
{% endblock %}

{% block ssfmb_body %}
    <br><br>
    <br><br>
    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# Voici le script en question : #}
    <script type="text/javascript">

        $(document).ready(function () {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#ss_fmbbundle_preparationlanterne_document_docsLines');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<a href="#" id="add_DocsLine" class="btn btn-default">Ajouter une ligne</a>');
            $container.append($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function (e) {
                addDocsLine($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addDocsLine($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function () {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function addDocsLine($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'DocsLine n°' + (index + 1))
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }

            $('#ss_fmbbundle_preparationlanterne_libStock').hide();
            $('#ss_fmbbundle_preparationlanterne_nomLanterne').hide();
            $('#ss_fmbbundle_preparationlanterne_quantiterEnStock').hide();
            $('#ss_fmbbundle_preparationlanterne_submit').hide();

            $('#ss_fmbbundle_preparationlanterne_Parc').ready(function () {
                var val = $("#ss_fmbbundle_preparationlanterne_Parc").val();
                $.ajax({
                    type: "POST",
                    url: "{{ url('ssfmb_parcstock') }}?parc_id=" + val,
                    success: function (data) {
                        if ($.trim(data)) {
                            $('#ss_fmbbundle_preparationlanterne_libStock').show();

                            // Remove current options
                            $('#ss_fmbbundle_preparationlanterne_libStock').html('');
                            $.each(data, function (k, v) {
                                $('#ss_fmbbundle_preparationlanterne_libStock').append('<option value="' + v + '">' + k + '</option>');
                            });
                            $.ajax({
                                type: "POST",
                                url: "{{ url('ssfmb_parclanterne') }}?parc_id=" + val,
                                success: function (data) {
                                    if ($.trim(data)) {
                                        var pos = true;
                                        var lan = '';
                                        $('#ss_fmbbundle_preparationlanterne_nomLanterne').show();

                                        // Remove current options
                                        $('#ss_fmbbundle_preparationlanterne_nomLanterne').html('');
                                        $.each(data, function (k, v) {
                                            if (pos) {
                                                lan = k;
                                                $('#ss_fmbbundle_preparationlanterne_nomLanterne').append('<option value="' + v + '">' + k + '</option>');
                                                pos = false;
                                            } else {
                                                if ($('#ss_fmbbundle_preparationlanterne_nomLanterne').val() == lan) {
                                                    $('#ss_fmbbundle_preparationlanterne_quantiterEnStock').show();
                                                    console.log(v);
                                                    $('#ss_fmbbundle_preparationlanterne_quantiterEnStock').val(v);
                                                }
                                                pos = true;

                                            }
                                        });
                                        $('#ss_fmbbundle_preparationlanterne_submit').show();
                                    }
                                }
                            });
                        }
                    }
                });
                return false;
            });


            $('#ss_fmbbundle_preparationlanterne_Parc').change(function () {
                $('#ss_fmbbundle_preparationlanterne_libStock').hide();
                $('#ss_fmbbundle_preparationlanterne_nomLanterne').hide();
                $('#ss_fmbbundle_preparationlanterne_quantiterEnStock').hide();
                $('#ss_fmbbundle_preparationlanterne_submit').hide();
                var val = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ url('ssfmb_parcstock') }}?parc_id=" + val,
                    success: function (data) {
                        if ($.trim(data)) {
                            $('#ss_fmbbundle_preparationlanterne_libStock').show();

                            // Remove current options
                            $('#ss_fmbbundle_preparationlanterne_libStock').html('');
                            $.each(data, function (k, v) {
                                $('#ss_fmbbundle_preparationlanterne_libStock').append('<option value="' + v + '">' + k + '</option>');
                            });
                            $.ajax({
                                type: "POST",
                                url: "{{ url('ssfmb_parclanterne') }}?parc_id=" + val,
                                success: function (data) {
                                    if ($.trim(data)) {
                                        var pos = true;
                                        var lan = '';
                                        $('#ss_fmbbundle_preparationlanterne_nomLanterne').show();

                                        // Remove current options
                                        $('#ss_fmbbundle_preparationlanterne_nomLanterne').html('');
                                        $.each(data, function (k, v) {
                                            if (pos) {
                                                lan = k;
                                                $('#ss_fmbbundle_preparationlanterne_nomLanterne').append('<option value="' + v + '">' + k + '</option>');
                                                pos = false;
                                            } else {
                                                if ($('#ss_fmbbundle_preparationlanterne_nomLanterne').val() == lan) {
                                                    $('#ss_fmbbundle_preparationlanterne_quantiterEnStock').show();
                                                    console.log(v);
                                                    $('#ss_fmbbundle_preparationlanterne_quantiterEnStock').val(v);
                                                }
                                                pos = true;

                                            }
                                        });
                                        $('#ss_fmbbundle_preparationlanterne_submit').show();
                                    }
                                }
                            });
                        }
                    }
                });
                return false;
            });
            $('#ss_fmbbundle_preparationlanterne_nomLanterne').change(function () {
                $('#ss_fmbbundle_preparationlanterne_submit').hide();
                $('#ss_fmbbundle_preparationlanterne_nomLanterne').hide();
                $('#ss_fmbbundle_preparationlanterne_quantiterEnStock').hide();
                var val = $("#ss_fmbbundle_preparationlanterne_Parc").val();

                $.ajax({
                    type: "POST",
                    url: "{{ url('ssfmb_parclanterne') }}?parc_id=" + val,
                    success: function (data) {
                        if ($.trim(data)) {
                            var pos = true;
                            var lan = '';
                            $('#ss_fmbbundle_preparationlanterne_nomLanterne').show();
                            $.each(data, function (k, v) {
                                if (pos) {
                                    lan = k;
                                    pos = false;
                                } else {
                                    if ($('#ss_fmbbundle_preparationlanterne_nomLanterne').val() == lan) {
                                        $('#ss_fmbbundle_preparationlanterne_quantiterEnStock').show();
                                        console.log(v);
                                        $('#ss_fmbbundle_preparationlanterne_quantiterEnStock').val(v);
                                    }
                                    pos = true;

                                }
                            });
                            $('#ss_fmbbundle_preparationlanterne_submit').show();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}


