{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Suivit - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        {{ parent() }}

        <div class="row">
            <div class="col-md-12">
                <form action="" method="post">
                    <ul class="pagination pagination-lg">

                        {{ knp_menu_render('SSFMBBundle:Builder:parcRLMenu') }}

                    </ul>
                    <table class="table table-condensed table-bordered" border="1">
                        <tbody>
                        <tr>
                            <td>
                                {% if(entity != null) %}
                                <div id="idstockparc" hidden="true">{{ entity.idStock.idStock }}</div>
                                <div id="idparc" hidden="true">{{ entity.idMagasin }}</div>
                                {{ entity.abrevMagasin }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-condensed table-bordered" border="1">
                                    <tbody>
                                    {% for filiere in entity.filieres %}
                                        <tr>
                                            <td>{{ filiere.getNomFiliere }}
                                                <br/>
                                                {% set tailleFiliere =0 %}
                                                {% for segment in filiere.segments %}
                                                    {% set tailleFiliere = tailleFiliere+segment.getLongeur %}
                                                {% endfor %}
                                                taille {{ tailleFiliere }} m
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="table table-condensed table-bordered" border="1">
                                                    <tbody>
                                                    <tr>
                                                        {% for segment in filiere.segments %}
                                                            <td valign="top">
                                                                <ul>
                                                                    <li> {{ segment.getNomSegment }}</li>
                                                                    <li>{{ segment.getLongeur }} m</li>
                                                                </ul>
                                                                <table border="1">
                                                                    {% for flotteur in segment.flotteurs %}
                                                                    <tr>
                                                                        <td>
                                                                            <div id="{{ filiere.getNomFiliere }}{{ segment.getNomSegment }}{{ flotteur.getNomFlotteur }}">
                                                                                {{ flotteur.getNomFlotteur }}|
                                                                                {% set verifexsistance = 0 %}

                                                                                {% for emplacement in flotteur.emplacements %}
                                                                                {% if emplacement.stockscorde == null and emplacement.stockslanterne == null %}
                                                                                    <font color="red"> {{ emplacement.place }}</font>|
                                                                                {% elseif emplacement.stockscorde != null %}
                                                                                    <a title="article
-date de creation
-date de MAE  "
                                                                                       href="">
                                                                                        <font color="blue"> {{ emplacement.place }}</font></a>                                                                                        {% elseif emplacement.stockslanterne != null %}
                                                                                    <a title="{{ emplacement.stockslanterne.lanterne.nomlanterne }}
-article:
-date de creation
-date de MAE  "
                                                                                       href="">
                                                                                        <font color="#adff2f"> {{ emplacement.place }}</font></a>|
                                                                                    <input type="checkbox"
                                                                                           name="placelanterne[]"
                                                                                           value="{{ emplacement.id }}"/>
                                                                                    {% set verifexsistance =  verifexsistance + 1 %}


                                                                                {% endif %}
                                                                                {% endfor %}<br>
                                                                                {% if verifexsistance != 0 %}
                                                                                    <input type="button"
                                                                                           value="Tout cocher"
                                                                                           onClick="fillCheckbox('{{ filiere.getNomFiliere }}{{ segment.getNomSegment }}{{ flotteur.getNomFlotteur }}','1');">&nbsp;&nbsp;
                                                                                    <input type="button"
                                                                                           value="Tout décocher"
                                                                                           onClick="fillCheckbox('{{ filiere.getNomFiliere }}{{ segment.getNomSegment }}{{ flotteur.getNomFlotteur }}','0');">
                                                                                {% endif %}
                                                                                {% endfor %}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <p>date retrait des laternes</p>
                                {% set now =  "now"|date("Y-m-d") %}
                                <p><input type="date" name="dateRetraitLanterne" value="{{ now }}"></p>
                                <p>quantiter retirer</p>
                                <p><input type="number" id="quantit" readonly="true" value="0"></p>
                                <p>stocks de reception</p>
                                <p>
                                    <input type="text" name="stockchoix" hidden="true" id="stockchoix"
                                           value="{{ entity.idStock.idStock }}">
                                    <input type="text" readonly="true" value="{{ entity.idStock.libStock }}">

                                </p>

                                <p><input type="submit" value="confirmer le retrait"/></p>

                            </td>
                        </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input:checkbox').change(
                    function () {
                        if ($(this).is(':checked')) {
                            $('#quantit').val(parseInt($('#quantit').val()) + 1);
                        } else {
                            $('#quantit').val(parseInt($('#quantit').val()) - 1);
                        }
                    });
        });
        function fillCheckbox(containerID, fill) {
            var checkbox = $('#' + containerID);
            var checkbox = checkbox.find('input[type="checkbox"]');
            checkbox.each(function () {
                switch (fill) {
                    case '0':
                        if (this.checked == true)
                            $('#quantit').val(parseInt($('#quantit').val()) - 1);
                        this.checked = false;
                        break;
                    case '1':
                        if (this.checked == false)
                            $('#quantit').val(parseInt($('#quantit').val()) + 1);
                        this.checked = true;
                        break;
                    case 2:
                        this.checked = !this.checked;
                        break;
                }
            });
        }
    </script>
{% endblock %}
