{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Suivit - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">

        {% block menu %}
            {{ parent() }}
        {% endblock %}
        <br>
        <br>
        {% block ssfmb_body %}
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="post">
                        <ul class="pagination pagination-lg">

                            {% for page in pages %}
                                <li>
                                    <a href="{{ path('ssfmb_retraitcorde', { 'id': page.id }) }}">
                                        {{ page.nomParc }}
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>
                        <table class="table table-condensed table-bordered" border="1">
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>
                                        <a href="{{ path('parc_show', { 'id': entity.id }) }}">
                                            {{ entity.nomParc }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="table table-condensed table-bordered" border="1">
                                            <tbody>
                                            {% for filiere in entity.filieres %}
                                                <tr>
                                                    <td>{{ filiere.getNomFiliere }}
                                                        <br/>
                                                        {% set tailleFiliere =0 %}
                                                        {% for segment in filiere.segments %}
                                                            {% set tailleFiliere = tailleFiliere+segment.getLongeur %}
                                                        {% endfor %}
                                                        taille {{ tailleFiliere }} m
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table class="table table-condensed table-bordered" border="1">
                                                            <tbody>
                                                            <tr>
                                                                {% for segment in filiere.segments %}
                                                                    <td valign="top">
                                                                        <ul>
                                                                            <li> {{ segment.getNomSegment }}</li>
                                                                            <li>{{ segment.getLongeur }} m</li>
                                                                        </ul>
                                                                        {% for flotteur in segment.flotteurs %}
                                                                            <p>    {{ flotteur.getNomFlotteur }}
                                                                                {% for emplacement in flotteur.emplacements %}
                                                                                    {% if emplacement.corde == null and emplacement.stockslanterne == null %}
                                                                                        <font color="red"> {{ emplacement.place }}</font>
                                                                                    {% elseif emplacement.corde != null %}
                                                                                        <font color="blue"> {{ emplacement.place }}</font>
                                                                                        <input type="checkbox"
                                                                                               name="placecorde[]"
                                                                                               value="{{ emplacement.id }}"/>

                                                                                    {% elseif emplacement.stockslanterne != null %}
                                                                                        <font color="#adff2f"> {{ emplacement.place }}</font>
                                                                                        <span style="display: none"
                                                                                              id="dateemplacement">{{ emplacement.dateDeRemplissage|date('Y-m-d') }}</span>

                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </p>
                                                                        {% endfor %}
                                                                    </td>
                                                                {% endfor %}
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <p>quantiter disponible</p>
                                        <p><input type="number" id="quantit" readonly="true" value="0"></p>
                                        <p><input type="submit" value="confirmer le retrait"/></p>

                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input:checkbox').change(
                    function () {
                        if ($(this).is(':checked')) {
                            $('#quantit').val(parseInt($('#quantit').val()) + 1);
                        } else {
                            $('#quantit').val(parseInt($('#quantit').val()) - 1);
                        }
                    });
        });

    </script>
{% endblock %}
