{% extends "SSFMBBundle::layout.html.twig" %}

{% block body -%}
    <h1>Corde</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Quantiter</th>
            <td>{{ entity.quantiter }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('corde') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('corde_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
