{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ssfmb_body %}
    <i><a href="{{ path('stockage_new') }}">Crée une nouveau stock</a></i>
    <div class="well">

        <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Article</th>
            <th>Quantiter</th>
            <th>N°Lot</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('stockage_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.article }}</td>
                <td>{{ entity.quantiter }}</td>
                <td>{% if entity.dateDajout %}{{ entity.dateDajout|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('stockage_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('stockage_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <p>
        <a href="{{ path('ssfmb_homepage') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </p>

{% endblock %}