{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Historique list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Dateop</th>
            <th>utilisateur</th>
            <th>Operation</th>
            <th>Tacheeffectuer</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.dateOp %}{{ entity.dateOp|date('Y-m-d H:i:s') }}{% endif %}</td>
               <td>{{ entity.utilisateur.username }}</td>
                <td>
                    {{ entity.operation }}
                </td>
                <td>préparation de {{ entity.tacheEffectuer.nombre }}
                    {{ entity.tacheEffectuer.conteneur }} de densité égale a {{ entity.tacheEffectuer.dentiter }}
                    avec l'article {{ entity.tacheEffectuer.article }}
                    du du lot {{ entity.tacheEffectuer.lot }}
                    sur la date {{ entity.tacheEffectuer.datePreparation }}
                    dans le stock {{ entity.tacheEffectuer.stock }}
                    du parc {{ entity.tacheEffectuer.parc }}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('historique_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('historique_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
