{% set tailleSegment = segment.longeur %}
{% set totaleplace =0 %}
{% set chaussementLanterne =0 %}
{% set chaussementCorde =0 %}
{% set totalelanterne =0 %}
{% set totalecorde =0 %}
    {% for key, flotteur in segment %}
        {% if not loop.first and key != "nomSegment" %}
            {% for emplacement in flotteur %}
                {% if not loop.first %}
                    {% if emplacement.stockscorde == null and emplacement.stockslanterne == null %}
                        {% set totaleplace = totaleplace + 1 %}
                    {% elseif emplacement.stockscorde != null %}
                        {% set totaleplace = totaleplace + 1 %}
                        {% set totalecorde = totalecorde + 1 %}
                        {% if emplacement.chausc %}
                            {% set chaussementCorde = chaussementCorde + 1 %}
                        {% endif %}
                    {% elseif emplacement.stockslanterne != null %}
                        {% set totaleplace = totaleplace + 1 %}
                        {% set totalelanterne =totalelanterne + 1 %}
                        {% if emplacement.chausl %}
                            {% set chaussementLanterne = chaussementLanterne + 1 %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
<table border="1" valign="top" class="table table-striped m-0">
    <thead>
    <tr>
        <th colspan="6">
            <div class="progressme">
                <div role="progressbar" aria-valuenow="{{ ((((totaleplace -(totaleplace -(totalecorde + totalelanterne))))/totaleplace )*100 )|number_format }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((((totaleplace -(totaleplace -(totalecorde + totalelanterne))))/totaleplace )*100 )|number_format }}%" class="progress-bar progress-bar-danger progress-bar-striped active"> remplit {{ ((((totaleplace -(totaleplace -(totalecorde + totalelanterne))))/totaleplace )*100 )|number_format }}%</div>
                <div role="progressbar" aria-valuenow="{{ (((totaleplace -(totalecorde + totalelanterne))/totaleplace ) *100)|number_format }}" aria-valuemin="0" aria-valuemax="102" style="width:{{ (((totaleplace -(totalecorde + totalelanterne))/totaleplace ) *100)|number_format }}%" class="progress-bar progress-bar-success progress-bar-striped">vide {{ (((totaleplace -(totalecorde + totalelanterne))/totaleplace ) *100)|number_format }}%</div>
            </div>
        </th>
    </tr>

    <tr>
        <th>
            taille
        </th>
        <th>
            nombre de place totale
        </th>
        <th>
            nombre de place vide
        </th>
        <th>
            nombre de place remplis
        </th>
        <th>
            nombre des corde
        </th>
        <th>
            nombre des lanterne
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td> {{ tailleSegment }} m</td>
        <td> {{ totaleplace }}place</td>
        <td>{{ (totaleplace -(totalecorde + totalelanterne)) }}place
            || {{ (((totaleplace -(totalecorde + totalelanterne))/totaleplace ) *100)|number_format }}%
        </td>
        <td>{{ totaleplace - (totaleplace -(totalecorde + totalelanterne)) }} place
            || {{ ((((totaleplace -(totaleplace -(totalecorde + totalelanterne))))/totaleplace )*100 )|number_format }}%
        </td>
        <td>{{ totalecorde }} dont {{ chaussementCorde }} chausser</td>
        <td>{{ totalelanterne }} dont {{ chaussementLanterne }} chausser</td>
    </tr>
    </tbody>
</table>