{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ssfmb_body %}

    <div class="well">
        <table class="records_list" border="1" width="100%">
        <thead>
        <tr>
            <th>Nomparc</th>
            <th>filiere</th>
            <th>Segment</th>
            <th>flotteurs</th>
            <th>Cordes</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td align=center>
                <a href="{{ path('parc_show', { 'id': entity.id }) }}">
                    {{ entity.nomParc }}
                </a>
            </td>
            <td>
                {% for filiere in entity.filieres %}
                    {{ filiere.getNomFiliere }}
                    {% if loop.last == false %}
                        <hr>
                    {% endif %}
                {% endfor %}

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>

    </div>
    <ul class="record_actions">
        <li>
            <a href="{{ path('parc') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('filiere_new', { 'id': entity.id }) }}">ajouter une filiere</a>
        </li>

        <li>
            <a href="{{ path('parc_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
