{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ssfmb_body %}
    <div class="well">
        <a href="{{ path('parc_show', { 'id': entity.id }) }}">
            {{ entity.nomParc }}
        </a>

        <table class="record_properties" border="1">
            <tbody>
            {% for filiere in entity.filieres %}
                <tr>
                <td>{{ filiere.getNomFiliere }}</td>

                {% for segment in filiere.segments %}
                    <td>
                        <ul>
                            <li> {{ segment.getNomSegment }}</li>
                            <li>{{ segment.getLongeur }} m</li>
                        </ul>
                    </td></tr>

                    {% for flotteur in segment.flotteurs %}
                        <tr>
                            <td>{{ flotteur.getNomFlotteur }}</td>
                            <td>
                                {% for emplacement in flotteur.emplacements %}
                                    {% if emplacement.corde == null %}
                                        <font color="red"> {{ emplacement.place }}</font>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul class="record_actions">
        <li>
            <a href="{{ path('parc') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('filiere_new', { 'id': entity.id }) }}">ajouter une filiere</a>
        </li>

        <li>
            <a href="{{ path('parc_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
