<a title="{{ emplacement.nomLanterne }}
-article: {{ emplacement.llibArticle }}
-lot : {{ emplacement.numeroSerieLanrt }}
-processus : {% set difference = date("now").diff(date(emplacement.dateDeRemplissage)) %}PG{{ difference.m }}
-date de MAE :{{ emplacement.dateDeRemplissage|date('Y-m-d') }}
   -date dernier transfert:{% if  emplacement.dateDTL %}{{ emplacement.dateDTL|date('Y-m-d') }} {% else %} aucun {% endif %}"
   href="{{ path('stockslanternes_show', { 'id': emplacement.stockslanterne }) }}">
    {% if emplacement.chausl %}
        <div style="color: #adff2f" class="emplacement LblClignotant">{{ emplacement.place }}</div>
    {% else %}
        <div style="color: #adff2f" class="emplacement">{{ emplacement.place }}</div>
    {% endif %}
</a>
