<a title="{{ emplacement.nomLanterne }}
-article: {{ emplacement.llibArticle }}
-lot : {{ emplacement.numeroSerieLanrt }}
-processus : {% set difference = date("now").diff(date(emplacement.dateDeRemplissage)) %}PG{{ difference.m }}
-date de MAE :{{ emplacement.dateDeRemplissage|date('Y-m-d') }}"
   href="#">
    <font color="#adff2f"
          class="emplacement">{{ emplacement.place }}
    </font>
</a>
