<a title="{{ emplacement.stockslanterne.lanterne.nomlanterne }}
-article: {{ emplacement.stockslanterne.article.refStockArticle.refArticle.libArticle }}
-lot : {{ emplacement.stockslanterne.article.numeroSerie }}
-processus : {% set difference = date("now").diff(date(emplacement.dateDeRemplissage)) %}PG{{ difference.m }}
-date de MAE :{{ emplacement.dateDeRemplissage|date('Y-m-d') }}"
   href="#">
    <font color="#adff2f"
          class="emplacement">{{ emplacement.place }}
    </font>
</a>
