<table valign="top" class="table table-striped m-0" border="1">
    <tbody>
    <tr>
        <td>
            <div class="loading{{ id }}"><img src="{{ asset('bundles/ssfmb/images/loading.gif') }}"></div>
            <div id="observ{{ id }}">
                {{ include('@SSFMB/Filiere/Include/listObservationFiliere.html.twig',{observations: filiere.observation}) }}
            </div>
        </td>
        <td>
            <form action="{{ path('filiere_observation') }}" method="post" class="formObservation{{ id }}">
                <input type="hidden" name="idf" value="{{ id }}">
                <textarea name="observation" id="textObservation{{ id }}"></textarea><input type="submit"
                                                                                                 value="validé">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $(".loading{{ id }}").hide();
    });

    $(function () {
        $(".formObservation{{ id }}").ajaxForm(
            {target: '#observ{{ id }}', beforeSubmit: showLoading, success: showResponse}
        );
        function showLoading(formData, fqForm, options) {
            $(".loading{{ id }}").show();
            $('#observ{{ id }}').hide();
        }

        function showResponse(responseText, statusText, xhr, $form) {
            $('#observ{{ id }}').html(responseText);
            $(".loading{{ id }}").hide();
            $('#observ{{ id }}').show();
        }
    })

</script>
