{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Suivit - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">

    {% block menu %}
        {{ parent() }}
    {% endblock %}
    <br>
    <br>  <br>

    <br>
    {% block ssfmb_body %}

        <table class="record_properties">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Pret</th>
                <td>{{ entity.pret }}</td>
            </tr>
            <tr>
                <th>Datedecreation</th>
                <td>{{ entity.dateDeCreation|date('Y-m-d H:i:s') }}</td>
            </tr>
            </tbody>
        </table>

     {% endblock %}
{% endblock %}