{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ssfmb_body %}
    <h1>Emplacement list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Place</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.place }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('emplacement_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('emplacement_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('emplacement_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
