{% for keyf, flotteur in segment %}
    <div class="col-xs-12 col-sm-12 col-md-12"
         id="{{ id }}{{ key }}{{ keyf }}">
        <li class="dd-item"
            data-id="{{ loop.index0 }}">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {{ keyf }}
                {{ include('@SSFMB/Default/Include/processus/somme/gSommeParFlotteur.html.twig',{flotteur: flotteur}) }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th>
                            place
                        </th>
                        <th>date
                            de
                            mise
                            en
                            eau
                        </th>
                        <th>date
                            du
                            retrait
                        </th>
                        <th>
                            quantiter
                            par
                            lanterne
                        </th>
                    </tr>
                   {{ include('@SSFMB/Default/Include/processus/g/emplacement.html.twig') }}
                </table>
            </div>
        </li>
    </div>
{% endfor %}