{% extends "SSFMBBundle::layout.html.twig" %}

{% block body -%}
    <h1>Lanterne</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nomlanterne</th>
                <td>{{ entity.nomLanterne }}</td>
            </tr>
            <tr>
                <th>Nbrpoche</th>
                <td>{{ entity.nbrpoche }}</td>
            </tr>
            <tr>
                <th>Nbrtotaleenstock</th>
                <td>{{ entity.nbrTotaleEnStock }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('lanterne') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('lanterne_edit', { 'id': entity.nomLanterne }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
