{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Modifier une annonce - {{ parent() }}
{% endblock %}

{% block ssfmb_body %}
    <h1>Filiere list</h1>
    <ul>
        <li>
            <a href="{{ path('filiere_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
        <tr>
            <th>Parc</th>
            <th>Nomfiliere</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('parc_show', { 'id': entity.parc.id }) }}">{{ entity.parc.nomParc }}</a></td>
                <td><a href="{{ path('filiere_show', { 'id': entity.id }) }}">{{ entity.nomFiliere }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('filiere_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('filiere_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
