{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - MAEC{% endblock %}
{% block stylesheet %}
    {% if(entity != null) %}
        <link href="{{ asset('bundles/ssfmb/plugins/nestable/jquery.nestable.css') }}" rel="stylesheet"/>
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('bundles/ssfmb/css/sidenavi-right.css') }}">
    {% endif %}
{% endblock %}
{% block header %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}
    {% set page = 'MAEC' %}
    {% if(entity != null) %}
        <div class="row">
            <div class="col-lg-12">
                <div class="text-left" id="nestable_list_menu">
                    <button type="button" class="btn btn-pink waves-effect waves-light" data-action="expand-all">
                        Expand All
                    </button>
                    <button type="button" class="btn btn-purple waves-effect waves-light"
                            data-action="collapse-all">Collapse All
                    </button>
                </div>
            </div>
        </div>
        <!-- End row -->



        <br>
        <form action="" method="post" onsubmit="return validation()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="idstockparc" hidden="true">{{ entity.idStock.idStock }}</div>
                                <div id="idparc" hidden="true">{{ entity.idMagasin }}</div>
                                <h4 class="m-t-0 header-title"><b>Mise à l'eau -> parc {{ entity.abrevMagasin }}</b>
                                </h4>
                                <p class="text-muted m-b-30 font-13">
                                </p>

                                <div class="custom-dd dd" id="nestable_list_2">
                                    <ol class="dd-list">
                                        {{ render(controller('SSFMBBundle:Filiere:findByParc',{ 'parc': entity,'page':page })) }}
                                        {#
                                  {{ render(controller(
                                  'SSFMBBundle:Filiere:findByParc',
                                  { 'parc': entity }
                                  )) }}
                                {% include '@SSFMB/Filiere/Include/listIndexInclude.html.twig' %}
                                #}
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="custom-dd dd" id="nestable_list_1">
                                </div>
                            </div><!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end Row -->
            <div id="sideNavi">
                <!-- sidenavi menu //-->
                <div class="side-navi-item-default"></div>
                <div class="side-navi-item item1">
                    <div>^</div>
                </div>
                <!-- sidenavi data //-->
                <div class="side-navi-data">
                    <div class="side-navi-tab">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs tabs">
                                <li class="active tab">
                                    <a href="#home-2" data-toggle="tab" aria-expanded="false">
                                        <span class="visible-xs"><i class="fa fa-home"></i></span>
                                        <span class="hidden-xs">Couleur Clé</span>
                                    </a>
                                </li>
                                <li class="tab">
                                    <a href="#profile-2" data-toggle="tab" aria-expanded="false">
                                        <span class="visible-xs"><i class="fa fa-user"></i></span>
                                        <span class="hidden-xs">Liste Filières</span>
                                    </a>
                                </li>
                                <li class="tab">
                                    <a href="#messages-2" data-toggle="tab" aria-expanded="true">
                                        <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                                        <span class="hidden-xs">Formulaire</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home-2">
                                    {% include '@SSFMB/Include/couleurCleInclude.html.twig' %}
                                </div>
                                <div class="tab-pane" id="profile-2">
                                    {% include "@SSFMB/Filiere/Include/listMenuIndexInclude.html.twig" %}
                                </div>
                                <div class="tab-pane" id="messages-2">
                                    <div class="row">
                                        <div class="col-lg-12">quantiter disponible</div>
                                        <div class="col-lg-12"><img src="{{ asset('bundles/ssfmb/images/stock.gif') }}"
                                                                    height="50" width="50"
                                                                    id="loadquantit">
                                            <input type="number" id="quantit" readonly="true" value="0"></div>
                                        <div class="col-lg-12">date de preparation des laternes</div>
                                        {% set now =  "now"|date("Y-m-d") %}
                                        <div class="col-lg-12"><input type="date" name="dateMAECorde" value="{{ now }}">
                                        </div>
                                        <div class="col-lg-12">choisir type cordes</div>
                                        <div class="col-lg-12">
                                            <select name="cordechoix" id="cordechoix">
                                                {% for corde in cordes %}
                                                    <option value="{{ corde.id }}">{{ corde.nomCorde }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-lg-12"> choisir l'article a mettre</div>
                                        <div class="col-lg-12">
                                            <select name="articlechoix" id="articlechoix">
                                                {% for article in articles %}
                                                    {% if article.refArticle.libArticle starts with 'CORDE' or article.refArticle.libArticle == 'NAISSAIN MOULES' %}
                                                        <option value="{{ article.refStockArticle }}">{{ article.refArticle.libArticle }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-lg-12"> choisir le Cycle A suivre</div>
                                        <div class="col-lg-12">
                                            <select name="articlecyclechoix" id="articlecyclechoix"></select>
                                        </div>
                                        <div class="col-lg-12"> choisir le lot de l'article</div>
                                        <div class="col-lg-12">
                                            <select name="articlelotchoix" id="articlelotchoix"></select>
                                        </div>

                                        <div id="choixqtearticle">
                                            <div class="col-lg-12"> Densité (U/Corde)</div>
                                            <div class="col-lg-12">
                                                <select name="quantierchoix" id="quantierchoix"></select>
                                            </div>
                                            <div class="col-lg-12"><input type="submit"
                                                                          value="confirmer la mise a l'eau"/>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form><!-- end col -->

        {% block footer %}
            {{ parent() }}
        {% endblock %}
    {% endif %}
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     {% if(entity != null) %}
         <!--script for this page only-->
         <script src="{{ asset('bundles/ssfmb/plugins/nestable/jquery.nestable.js') }}"></script>
         <script src="{{ asset('bundles/ssfmb/pages/nestable.js') }}"></script>
         <script src="{{ asset('bundles/ssfmb/js/SideNavi.js') }}"></script>
         <script src="{{ asset('bundles/ssfmb/js/SideNav.js') }}"></script> {% endif %}
     <script type="text/javascript">
         function validation() {
             if (parseInt($('#quantit').val()) < 0) {
                 alert("vous avez demander de mettre un nombre superieur de corde que celle preparé");
                 return false;
             } else {
                 check = confirm('vous confirmer les données (date de retrait, article , lot que vous avez choisie');
                 if (check == true) {
                     return true;
                 }
                 else {
                     return false;
                 }
             }
         }
         $(document).ready(function () {
             $('#choixqtearticle').ready(function () {
                 $('#choixqtearticle').hide();
                 $('input:checkbox').hide();
                 $('.cochage').hide();

             });
             $('input:checkbox').change(function () {
                 if ($(this).is(':checked')) {
                     $('#quantit').val(parseInt($('#quantit').val()) - 1);
                 } else {
                     $('#quantit').val(parseInt($('#quantit').val()) + 1);
                 }
             });
         });
         $('#articlecyclechoix').hide();
         $('#articlelotchoix').hide();
         $('.cochage').hide();
         $('#articlechoix').ready(function () {
             $.ajax({
                 type: "POST",
                 url: "{{ url('ssfmb_articlestock') }}?stock_id=" + $('#idstockparc').text() + "&sarticle=" + $('#articlechoix').val(),
                 beforeSend: function () {
                     $('#loadquantit').show();
                 },
                 complete: function () {
                     $('#loadquantit').hide();
                 },
                 success: function (data) {
                     if ($.trim(data)) {
                         var pos = true;
                         var lan = '';
                         $('#articlelotchoix').show();

                         // Remove current options
                         $('#articlelotchoix').html('');
                         $.each(data, function (k, v) {
                             if (pos) {
                                 lan = k;
                                 $('#articlelotchoix').append('<option value="' + v + '">' + k + '</option>');
                                 pos = false;
                             } else {
                                 pos = true;
                             }
                         });
                         $('#ss_fmbbundle_preparationcorde_submit').show();
                         $.ajax({
                             type: 'get',
                             url: "{{ path('ssfmb_cordearticle') }}",
                             data: {
                                 'idp': $('#idparc').text(),
                                 'lot': $('#articlelotchoix').val(),
                                 'ida': $('#articlechoix').val(),
                                 'idl': $('#cordechoix').val()
                             },
                             dataType: 'json',
                             beforeSend: function () {
                                 $('#quantierchoix').empty();
                             },
                             success: function (json) {
                                 $('#quantierchoix').html('');
                                 if (!$.trim(json)) {
                                     $('#choixqtearticle').ready(function () {
                                         $('#choixqtearticle').hide();
                                         $('.cochage').hide();
                                         $('input:checkbox').hide();
                                     });
                                 }
                                 ;
                                 if ($.trim(json)) {
                                     $('#choixqtearticle').ready(function () {
                                         $('#choixqtearticle').show();
                                         $('.cochage').show();

                                         $.ajax({
                                             type: 'get',
                                             url: "{{ path('ssfmb_nombrecordearticle') }}",
                                             data: {
                                                 'ida': $('#articlechoix').val(),
                                                 'lot': $('#articlelotchoix').val(),
                                                 'idl': $('#cordechoix').val(),
                                                 'qtech': $('#quantierchoix').val()
                                             },
                                             dataType: 'json',
                                             beforeSend: function () {
                                                 $('#loadquantit').show();
                                                 $('#quantit').val(0);
                                             },
                                             complete: function () {
                                                 $('#loadquantit').hide();
                                             },
                                             success: function (json) {
                                                 if ($.trim(json)) {
                                                     $('#choixqtearticle').ready(function () {
                                                         $("input:checkbox").each(function () {
                                                             $(this).prop('checked', false);
                                                         });

                                                         $('#choixqtearticle').show();
                                                         $('.cochage').show();
                                                         $('input:checkbox').show();


                                                     });
                                                 }
                                                 $.each(json, function (index, value) {
                                                     $('#quantit').val(value.nombre);
                                                     $("input:checkbox").each(function () {
                                                         $(this).attr('checked', false);
                                                     });
                                                 });
                                             }
                                         });
                                         $("input:checkbox").each(function () {
                                             $(this).prop('checked', false);
                                         });
                                     });
                                 }
                                 ;

                                 $.each(json, function (index, value) {
                                     $('#quantit').val(value.nombre);

                                     $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                                 });
                             }
                         });
                     }
                 }
             });
             ////////////////////////////////////////////////////////////////////////////////////////////
             $.ajax({
                 type: "POST",
                 url: "{{ url('ssfmb_articlecyclechoix') }}?sarticle=" + $('#articlechoix').val(),
                 beforeSend: function () {
                     $('#loadquantit').show();
                 },
                 complete: function () {
                     $('#loadquantit').hide();
                 },
                 success: function (data) {
                     if ($.trim(data)) {
                         $('#articlecyclechoix').show();

                         // Remove current options
                         $('#articlecyclechoix').html('');
                         $.each(data, function (k, v) {
                             $('#articlecyclechoix').append('<option value="' + v + '">' + k + '</option>');
                         });
                     }
                 }
             });
         });
         $('#articlechoix').change(function () {
             $.ajax({
                 type: "POST",
                 url: "{{ url('ssfmb_articlestock') }}?stock_id=" + $('#idstockparc').text() + "&sarticle=" + $('#articlechoix').val(),
                 beforeSend: function () {
                     $('#loadquantit').show();
                 },
                 complete: function () {
                     $('#loadquantit').hide();
                 },
                 success: function (data) {
                     if ($.trim(data)) {
                         var pos = true;
                         var lan = '';
                         $('#articlelotchoix').show();

                         // Remove current options
                         $('#articlelotchoix').html('');
                         $.each(data, function (k, v) {
                             if (pos) {
                                 lan = k;
                                 $('#articlelotchoix').append('<option value="' + v + '">' + k + '</option>');
                                 pos = false;
                             } else {
                                 pos = true;
                             }
                         });
                         $('#ss_fmbbundle_preparationcorde_submit').show();
                         $.ajax({
                             type: 'get',
                             url: "{{ path('ssfmb_cordearticle') }}",
                             data: {
                                 'idp': $('#idparc').text(),
                                 'lot': $('#articlelotchoix').val(),
                                 'ida': $('#articlechoix').val(),
                                 'idl': $('#cordechoix').val()
                             },
                             dataType: 'json',
                             beforeSend: function () {
                                 $('#quantierchoix').empty();
                             },
                             success: function (json) {
                                 $('#quantierchoix').html('');
                                 if (!$.trim(json)) {
                                     $('#choixqtearticle').ready(function () {
                                         $('#choixqtearticle').hide();
                                         $('.cochage').hide();
                                         $('input:checkbox').hide();

                                     });
                                 }
                                 ;
                                 if ($.trim(json)) {
                                     $('#choixqtearticle').ready(function () {
                                         $('#choixqtearticle').show();
                                         $('.cochage').show();
                                         $('input:checkbox').show();

                                         $.ajax({
                                             type: 'get',
                                             url: "{{ path('ssfmb_nombrecordearticle') }}",
                                             data: {
                                                 'ida': $('#articlechoix').val(),
                                                 'lot': $('#articlelotchoix').val(),
                                                 'idl': $('#cordechoix').val(),
                                                 'qtech': $('#quantierchoix').val()
                                             },
                                             dataType: 'json',
                                             beforeSend: function () {
                                                 $('#loadquantit').show();
                                                 $('#quantit').val(0);
                                             },
                                             complete: function () {
                                                 $('#loadquantit').hide();
                                             },
                                             success: function (json) {
                                                 if ($.trim(json)) {
                                                     $('#choixqtearticle').ready(function () {
                                                         $("input:checkbox").each(function () {
                                                             $(this).prop('checked', false);
                                                         });

                                                         $('#choixqtearticle').show();
                                                         $('.cochage').show();
                                                         $('input:checkbox').show();

                                                     });
                                                 }
                                                 $.each(json, function (index, value) {
                                                     $('#quantit').val(value.nombre);
                                                     $("input:checkbox").each(function () {
                                                         $(this).attr('checked', false);
                                                     });
                                                 });
                                             }
                                         });
                                         $("input:checkbox").each(function () {
                                             $(this).prop('checked', false);
                                         });
                                     });
                                 }
                                 ;

                                 $.each(json, function (index, value) {
                                     $('#quantit').val(value.nombre);

                                     $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                                 });
                             }
                         });
                     }
                 }
             });
         });
         $('#cordechoix').change(function () {
             $.ajax({
                 type: 'get',
                 url: "{{ path('ssfmb_cordearticle') }}",
                 data: {
                     'idp': $('#idparc').text(),
                     'lot': $('#articlelotchoix').val(),
                     'ida': $('#articlechoix').val(),
                     'idl': $('#cordechoix').val()
                 },
                 dataType: 'json',
                 beforeSend: function () {
                     $('#loadquantit').show();
                     $('#quantit').val(0);
                     $('#quantierchoix').empty();
                 },
                 complete: function () {
                     $('#loadquantit').hide();
                 },
                 success: function (json) {
                     $('#quantierchoix').html('');
                     if (!$.trim(json)) {
                         $('#choixqtearticle').ready(function () {
                             $('#choixqtearticle').hide();
                             $('.cochage').hide();
                             $('input:checkbox').hide();

                         });
                     }
                     if ($.trim(json)) {
                         $('#choixqtearticle').ready(function () {
                             $("input:checkbox").each(function () {
                                 $(this).prop('checked', false);
                             });

                             $('#choixqtearticle').show();
                             $('input:checkbox').show();
                             $('.cochage').show();

                             $.ajax({
                                 type: 'get',
                                 url: "{{ path('ssfmb_nombrecordearticle') }}",
                                 data: {
                                     'ida': $('#articlechoix').val(),
                                     'lot': $('#articlelotchoix').val(),
                                     'idl': $('#cordechoix').val(),
                                     'qtech': $('#quantierchoix').val()
                                 },
                                 dataType: 'json',
                                 beforeSend: function () {
                                     $('#loadquantit').show();
                                     $('#quantit').val(0);
                                 },
                                 complete: function () {
                                     $('#loadquantit').hide();
                                 },
                                 success: function (json) {

                                     if ($.trim(json)) {
                                         $('#choixqtearticle').ready(function () {
                                             $("input:checkbox").each(function () {
                                                 $(this).prop('checked', false);
                                             });

                                             $('input:checkbox').show();
                                             $('#choixqtearticle').show();
                                             $('.cochage').show();

                                         });
                                     }
                                     $.each(json, function (index, value) {
                                         $('#quantit').val(value.nombre);
                                         $("input:checkbox").each(function () {
                                             $(this).attr('checked', false);
                                         });
                                     });
                                 }
                             });
                         });
                     }
                     $.each(json, function (index, value) {
                         $('#quantit').val(value.nombre);
                         $("input:checkbox").each(function () {
                             $(this).attr('checked', false);
                         });
                         // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
                         $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                     });
                 }
             });
         });
         $('#articlelotchoix').change(function () {
             $.ajax({
                 type: 'get',
                 url: "{{ path('ssfmb_cordearticle') }}",
                 data: {
                     'idp': $('#idparc').text(),
                     'lot': $('#articlelotchoix').val(),
                     'ida': $('#articlechoix').val(),
                     'idl': $('#cordechoix').val()
                 },
                 dataType: 'json',
                 beforeSend: function () {
                     $('#loadquantit').show();
                     $('#quantit').val(0);
                     $('#quantierchoix').empty();
                 },
                 complete: function () {
                     $('#loadquantit').hide();
                 },
                 success: function (json) {
                     $('#quantierchoix').html('');
                     if (!$.trim(json)) {
                         $('#choixqtearticle').ready(function () {
                             $('#choixqtearticle').hide();
                             $('.cochage').hide();
                             $('input:checkbox').hide();

                         });
                     }
                     if ($.trim(json)) {
                         $('#choixqtearticle').ready(function () {
                             $("input:checkbox").each(function () {
                                 $(this).prop('checked', false);
                             });

                             $('#choixqtearticle').show();
                             $('.cochage').show();
                             $('input:checkbox').show();

                             $.ajax({
                                 type: 'get',
                                 url: "{{ path('ssfmb_nombrecordearticle') }}",
                                 data: {
                                     'ida': $('#articlechoix').val(),
                                     'lot': $('#articlelotchoix').val(),
                                     'idl': $('#cordechoix').val(),
                                     'qtech': $('#quantierchoix').val()
                                 },
                                 dataType: 'json',
                                 beforeSend: function () {
                                     $('#loadquantit').show();
                                     $('#quantit').val(0);
                                 },
                                 complete: function () {
                                     $('#loadquantit').hide();
                                 },
                                 success: function (json) {
                                     if ($.trim(json)) {
                                         $('#choixqtearticle').ready(function () {
                                             $("input:checkbox").each(function () {
                                                 $(this).prop('checked', false);
                                             });

                                             $('#choixqtearticle').show();
                                             $('.cochage').show();
                                             $('input:checkbox').show();

                                         });
                                     }
                                     $.each(json, function (index, value) {
                                         $('#quantit').val(value.nombre);
                                         $("input:checkbox").each(function () {
                                             $(this).attr('checked', false);
                                         });
                                     });
                                 }
                             });
                         });
                     }
                     $.each(json, function (index, value) {
                         $('#quantit').val(value.nombre);
                         $("input:checkbox").each(function () {
                             $(this).attr('checked', false);
                         });
                         // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
                         $('#quantierchoix').append('<option value="' + value.qte + '">' + value.qte + '</option>');
                     });
                 }
             });
         });
         $('#quantierchoix').change(function () {
             $.ajax({
                 type: 'get',
                 url: "{{ path('ssfmb_nombrecordearticle') }}",
                 data: {
                     'ida': $('#articlechoix').val(),
                     'lot': $('#articlelotchoix').val(),
                     'idl': $('#cordechoix').val(),
                     'qtech': $('#quantierchoix').val()
                 },
                 dataType: 'json',
                 beforeSend: function () {
                     $('#loadquantit').show();
                     $('#quantit').val(0);
                     $('#quantierchoix').empty();
                 },
                 complete: function () {
                     $('#loadquantit').hide();
                 },
                 success: function (json) {
                     if ($.trim(json)) {
                         $('#choixqtearticle').ready(function () {
                             $("input:checkbox").each(function () {
                                 $(this).prop('checked', false);
                             });

                             $('#choixqtearticle').show();
                             $('.cochage').show();
                             $('input:checkbox').show();

                         });
                     }
                     $.each(json, function (index, value) {
                         $('#quantit').val(value.nombre);
                         $("input:checkbox").each(function () {
                             $(this).attr('checked', false);
                         });
                     });
                 }
             });
         });


         function fillCheckbox(containerID, fill) {
             var checkbox = $('#' + containerID);
             var checkbox = checkbox.find('input[type="checkbox"]');
             checkbox.each(function () {
                 switch (fill) {
                     case '0':
                         if (this.checked == true)
                             $('#quantit').val(parseInt($('#quantit').val()) + 1);
                         this.checked = false;
                         break;
                     case '1':
                         if (this.checked == false)
                             $('#quantit').val(parseInt($('#quantit').val()) - 1);
                         this.checked = true;
                         break;
                     case 2:
                         this.checked = !this.checked;
                         break;
                 }
             });
         }    </script>
 {% endblock %}

{#
{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    MAECorde - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {{ parent() }}
        <div class="row">
            <div class="col-md-12">
                <p>Mise a eau Corde</p>
                    <table class="table table-condensed table-bordered" border="1">
                        <tbody>
                        <tr>
                            <td>
                                    {% if(entity != null) %}

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-condensed table-bordered" border="1">
                                    <tbody>
                                    {% for filiere in entity.filieres %}
                                        <tr>
                                            <td id="{{ filiere.nomFiliere }}">
                                                {{ filiere.nomFiliere }}
                                                <br/>
                                                {% set tailleFiliere =0 %}
                                                {% for segment in filiere.segments %}
                                                    {% set tailleFiliere = tailleFiliere+segment.getLongeur %}
                                                {% endfor %}
                                                taille {{ tailleFiliere }} m
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="table table-condensed table-bordered" border="1">
                                                    <tbody>
                                                    <tr>
                                                        {% for segment in filiere.segments %}
                                                            <td valign="top">
                                                                <ul>
                                                                    <li>
                                                                        {{ segment.getNomSegment }}
                                                                    </li>
                                                                    <li>
                                                                        {{ segment.getLongeur }} m
                                                                    </li>
                                                                </ul>
                                                                <table>
                                                                    {% for flotteur in segment.flotteurs %}
                                                                    <tr>
                                                                        <td>
                                                                            <div id="{{ filiere.getNomFiliere }}{{ segment.getNomSegment }}{{ flotteur.getNomFlotteur }}">
                                                                                {{ flotteur.getNomFlotteur }}|
                                                                                {% set verifexsistance = 0 %}

                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td width="20%">
                                <div data-spy="affix" data-offset-top="60" data-offset-bottom="200" id="menuform">
                                    <p>
                                        {% include "SSFMBBundle:Include:couleurCleInclude.html.twig" %}
                                    </p>
                                    <p>
                                    <div><a href="#menuprincipale">menu</a></div>
                                    <div>Listez des filieres</div>
                                    {% for filiere in entity.filieres %}
                                        <span class="lienfiliereint">
                                            <a href="#{{ filiere.nomFiliere }}">{{ filiere.nomFiliere }}</a>
                                        </span>
                                    {% endfor %}
                                    </p>



                                </div>
                            </td>
                        </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
#}