<table class="tablesaw table m-b-0"
       data-tablesaw-sortable
       data-tablesaw-sortable-switch>
    <thead>
    <tr>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-sortable-default-col
            data-tablesaw-priority="persist">Fil
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="3">Seg
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="2">Flo
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="1">Emp
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="4">Corde
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="5">Art
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="6">lot
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="7">date MAE
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="8">Cycle
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="9">date
            retré
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="10">Densiter
            / Corde
        </th>
        <th scope="col"
            data-tablesaw-sortable-col
            data-tablesaw-priority="11">Densiter
            totale
        </th>
    </tr>
    </thead>
    <tbody>
    {% for key, segments in grossisementaeffectuer %}
        <tr>
        <td>{{ key }}</td>
        {% for key2, flotteurs in segments %}
            {% if not loop.first %}
                <tr>
                <td>{{ key }}</td>
            {% endif %}
            <td>{{ key2 }}</td>
            {% for key3, emplacements in flotteurs %}
                {% if not loop.first %}
                    <tr>
                    <td>{{ key }}</td>
                    <td>{{ key2 }}</td>
                {% endif %}
                <td>{{ key3 }}</td>
                {% for key4, emplacement in emplacements %}
                    {% if not loop.first %}
                        <tr>
                        <td>{{ key }}</td>
                        <td>{{ key2 }}</td>
                        <td>{{ key3 }}</td>
                    {% endif %}
                    <td>  {{ emplacement.place }} </td>
                    <td>{{ emplacement.nomCorde }} </td>
                    <td>{{ emplacement.libArticle }}</td>
                    <td>{{ emplacement.numeroSerie }}</td>
                    <td>{{ emplacement.dateDeRemplissage|date('d-m-Y') }}</td>
                    <td>
                        {% if emplacement.libArticle == 'NAISSAIN MOULES' %}
                            {% set difference = date("now").diff(date(emplacement.dateDeRemplissage)) %}
                            {% if difference.m <=3 and difference.y ==0 %}PG{{ difference.m + 1 }}
                            {% elseif difference.m <=12 and difference.y == 0 %}G{{ difference.m + - 3 }}
                            {% elseif difference.m <=1 and difference.y == 1 %}G{{ difference.m + 9 }}
                            {% elseif difference.m >1 and difference.m <=3 and difference.y == 1 %}MS{{ difference.m - 1 }}
                            {% elseif difference.m >3 and difference.m <=7 and difference.y == 1 %}ME{{ difference.m - 3 }}
                            {% elseif difference.m >7 and difference.y == 1 %}MR{{ difference.m - 7 }}
                            {% elseif difference.y > 1 %}MR4+
                            {% endif %}
                        {% else %}
                            {% set difference = date("now").diff(date(emplacement.dateDeRemplissage)) %}{% if difference.m <=5 and difference.y ==0 %}G{{ difference.m }}{% elseif difference.m <=9 and difference.y == 0 %}{% set dif2 = 9- difference.m %}H{{ dif2 }}{% elseif difference.m ==10 and difference.y == 0 %}H00{% elseif difference.m >10 or difference.y >0 %}H000{% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if emplacement.libArticle == 'NAISSAIN MOULES' %}
                            {{ emplacement.dateDeRemplissage|date_modify("+1 month")|date('d-m-Y') }}
                        {% else %}
                            {{ emplacement.dateDeRemplissage|date_modify("+6 month")|date('d-m-Y') }}
                        {% endif %}
                    </td>
                    <td>
                        <span class="qteunicrdaf">{{ emplacement.qtec }}</span> u
                        <span class="qteunicrdafdz">
                        {% set qte = emplacement.qtec / 12 %}
                            {{ qte|number_format(2) }}
                    </span> dz
                    </td>
                    <td rowspan="{{ nombrearetirer }}">
                        <div id="sommecrdaf"></div>
                        <div id="sommecrdafdz"></div>
                    </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    </tbody>
</table>